.tm-table {
    display: table;
}

.table-cell {
    display:        table-cell;
    vertical-align: middle;
    float:          none;
}

.admin-bar .affix {
    top: 32px;
}


/* User Login */
.admin-bar.home {
    header#masthead {
        &.header_overlay {
            top: 32px;
        }
    }
}

@media (max-width: 767px) {
    header#masthead {
        &.header_v1, &.header_v3 {
            .affix-top.navigation .sm-logo-affix {
                display: table-cell;
            }
        }
    }
}