.error-404 {
	padding-top: 100px;
	padding-bottom: 100px;
	.table {
		display: table;
		max-width: 820px;
		margin: auto;
		.table-cell {
			display: table-cell;
			vertical-align: middle;
		}
	}
	a {
		font-weight: bold;
		text-decoration: underline;
		outline: none;
		color: #2a2a2a;
	}
}