@width-logo: unit(@thim_width_logo, px);
@height-logo: 130px;
@height-topheader: 54px;
@pull-top: -@height-topheader;
@height-navigation: @height-logo - @height-topheader;

.removeOutline() {
	outline: none;
}

@transition-affix-menu: border 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;

#masthead {

	z-index: 70;
	position: relative;

	> .container {
		.flex();
	}

	/* Wrapper logo */
	.wrapper-logo {
		padding: 0;
 		.flex();

		> .sm-logo {
			align-self: center;
			-webkit-align-self: center;

			> a {
				.removeOutline();
				margin: auto;
				display: table;

				img {
 					max-height: @height-logo;
				}
			}
		}

		.sm-logo-affix {
			align-self: center;
			-webkit-align-self: center;
 			overflow: hidden;
			display: none;
			
			a {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				.removeOutline();

				img {
 					max-height: @height-navigation;
 					position: relative;
				}
			}
		}
		.sm-logo-mobile-affix {
			display: none !important;
		}
	}

	.header-right {
		width: 100%;

		/* Top header */
		.top-header {
			height: @height-topheader;
			padding-left: 18px;

			> div {
				font-size: 13px;
				width: 100%;
				height: 100%;
				border-bottom: 1px solid #eee;
				display: table;

				aside.widget {
					line-height: 1;
					display: table-cell;
					vertical-align: middle;
				}
				.widget_thim_contact {
					//call us
					.call_us_title, .phone_number, .email_title {
						padding-right: 5px;
					}

					.call_us_title, .email_title {
						color: #9a9a9a;
					}

					.phone_number {
						font-size: 18px;
 					}


				}
				.widget_thim_schedule {
					//time
					text-align: right;

					&:before {
						content: "\f017";
						font-family: FontAwesome;
 						font-size: 14px;
						padding-right: 4px;
					}


					.weekday_schedule, .weekend_schedule {
						color: #999;
					}

					.weekday_title {
						padding-right: 8px;
					}

					.weekday_schedule {
						padding-right: 10px;
					}

					.weekend_title {
						padding-right: 7px;
					}
				}
			}
		}

		/* Navigation */
		.navigation {
			&.affix-top {
				.sm-logo-affix {
					visibility: hidden;
				}


			}

			.tm-table {
				height: 100%;
				width: 100%;

				aside.widget {
					display: table-cell;
					vertical-align: middle;
					min-width: 150px;

					> div {
						float: right;
 						a {
							.thim-button-link();
						}
					}
				}
			}

			.logo-effect {
				a {
					position: relative;
					left: -@width-logo;
				}
			}

			nav.navbar-primary {
				height: 100%;
				.navbar-nav {
					height: 100%;
					.sub-menu {
						background: #fff;
					}
					li {
						a {
							.removeOutline();
							font-size: 14px;
 							font-weight: 700;
							position: relative;
						}
					}

					.nav_desc {
						position: absolute;
						top: 50px;
						left: 0;
						right: 0;
						text-align: center;
						width: 100%;
						text-transform: none;
						font-weight: 400;
						line-height: 1;
					}

					> li {
						list-style: none;
						> a {
							padding-left: 18px;
							padding-right: 18px;
							padding-top: 31px;
							padding-bottom: 31px;
							line-height: 1;
							text-transform: uppercase;
							text-decoration: none;
							&:hover {
								background: rgba(0, 0, 0, 0);
							}
							&:focus {
								background: rgba(0, 0, 0, 0);
							}
						}
					}

					li.menu-item-has-children {
						> ul.sub-menu {
							z-index: 1050;
							display: none;
							margin-left: 0;
							margin-top: 0;
							.box-shadow(0 2px 3px rgba(0, 0, 0, .09));
						}
					}
					> li.menu-item-has-children {
						//Level 1
						@min-width-submenu: 200px;
						> ul.sub-menu {
							position: absolute;
							padding-left: 0;
							top: @height-navigation;
							left: 0;
							min-width: @min-width-submenu;
							margin-bottom: 0;

							li {
								position: relative;
								list-style: none;
								padding: 10px 20px;
								border-bottom: 1px solid #eee;
								margin-bottom: 0;

								a {
									font-weight: normal;
									font-size: 13px !important;
									text-decoration: none;
									line-height: 1;
								}

							}
							li.menu-item-has-children {
								//Level 2+
								position: relative;

								ul.sub-menu {
									//Menu level 2+
									position: absolute;
									padding-left: 0;
									top: 0;
									left: @min-width-submenu;
									min-width: @min-width-submenu;
									margin-bottom: 0;

									li {
										margin-bottom: 0;
										padding: 10px 20px;
										a {
											font-size: 13px !important;
											font-weight: normal;
										}
									}
								}
							}
						}

					}
				}
			}
		}
	}

	&.header_sticky {
		&.affix {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			border-bottom: 1px solid #ddd;

			.wrapper-logo {
				.sm-logo {
					display: none;
				}
				.sm-logo-mobile {
					display: none !important;
				}
				.sm-logo-affix {
					display: table;
				}
				.sm-logo-mobile-affix {
					display: table !important;
				}
			}

			.header-right {
				.top-header {
					display: none;
				}
			}

		}
	}
}

.admin-bar {
	#masthead {
		&.header_sticky {
			&.affix {
				top: 32px;
			}
		}
	}
}

@media (max-width: @screen-sm-max) {
	#masthead {
		.top-header {
			> div {
				aside.widget {
					&:nth-child(2) {
						display: none;
					}
				}
			}
		}

		.header-right {
			.navigation {
				.tm-table {
					aside.widget {
						display: none;
					}
				}

			}
		}

	}

}

//Mobile (xs)
@background-navbar-mobile: @thim_body_primary_color;
@transition-navbar-mobile: all 400ms ease-out 0s;
@width-menu-mobile: 270px;
@media (max-width: @screen-xs-max) {
	html, body, .wrapper-container {
		height: 100%;
	}

	#wpadminbar {
		position: absolute;
	}

	.admin-bar {
		#masthead {
			&.header_sticky {
				&.affix {
					top: 0;
				}
			}
		}
	}

	body {
		#wrapper-container {
			.transition(@transition-navbar-mobile);
			position: relative;
		}

	}

	#masthead {

		.wrapper-logo {
			width: 100%;
			> .tm-table {

				.navbar-toggle {
					float: none;
					padding-top: 14px;
					padding-bottom: 14px;

					.icon-bar {
						background-color: #fff;
					}
				}
			}

			.sm-logo {
				display: none;
			}

			.sm-logo-affix {
				display: table;

				a {

					img {
						left: 0;
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}

		.header-right {
			display: none;
		}
	}

	.mobile-menu-container {
		height: 100%;
		position: absolute;
		padding: 15px;
		top: 0;
		bottom: 0;
		overflow: auto;
		width: @width-menu-mobile;
 		.transition(@transition-navbar-mobile);
		.transform(translate(-@width-menu-mobile));
		z-index: 999999;
		.menu-right {
			margin: 0;
			padding: 10px 0;

			> li {
				margin-left: 20px;
				display: inline-block;
			}

			.sliderbar-menu-controller {
				display: none;
			}
		}

		.navbar-nav {
			margin: 0;

			.sub-menu {
				position: relative;

				&:before {
					content: "";
					width: 1px;
					height: 100%;
					position: absolute;
					left: 22px;
					top: 1px;
					display: block;
 				}
			}

			.icon-toggle {
				position: absolute;
				top: 0;
				right: 0;
				padding: 9px 25px;
				z-index: 9;
				font-size: 20px;
 				cursor: pointer;
			}

			> li > ul.sub-menu {
				//Level 1
				margin-top: 0;
				margin-bottom: 0;
				overflow: hidden;
				display: none;
			}

			li ul.sub-menu {
				margin: 0;
				> li {
					&:before {
						content: "";
						width: 7px;
						height: 1px;
						position: absolute;
						left: 3px;
						top: 20px;
						padding: 0;
						display: block;
 					}
				}
			}
		}
	}

	@background-color-menu-mobile: @thim_bg_mobile_menu_color;
	body.admin-bar {
		.mobile-menu-open {
			.mobile-menu-container {
				padding-top: 60px;
			}
		}
	}

	.wrapper-container {
		.ccontent-pusher {
			.transform(translate(0));
		}
		&.mobile-menu-open {
			.mobile-menu-container {
				.transform(translate(0));

				ul.navbar-nav {

					li {
						&:hover {
							background: rbga(0, 0, 0, 0);
						}
						&:visited {
							background: rbga(0, 0, 0, 0);
						}
						a {

							&:hover {
								background-color: transparent;
								text-decoration: none;
							}

							&:focus, &:active {
								.removeOutline();
								text-decoration: none;
							}
						}
					}

					li.menu-item-has-children {
						> ul.sub-menu {
							padding-left: 20px;
						}
					}



					> li.menu-item-has-children {

						> ul.sub-menu {
							list-style: none;
							padding-left: 10px;
							margin: 0;
							overflow: hidden;

							li {
								display: block;
								position: relative;

								a {
									display: block;
									padding: 10px 15px;
									line-height: 20px;
								}
							}

							&:before {
								content: '';
								width: 1px;
								height: 100%;
								position: absolute;
								left: 12px;
								top: 1px;
								display: block;
							}
						}
					}
				}
			}

			.content-pusher {
				height: 100%;
				.transition(@transition-navbar-mobile);
				.transform(translate(@width-menu-mobile));
				position: fixed;
				overflow: auto;
			}

		}
	}

	.mobile-menu-container, .content-pusher {
		.transition(@transition-navbar-mobile);
	}

	.menu-mobile-effect {
		img {
			.transition(@transition-navbar-mobile);
		}
	}
}

@media screen and (max-width: 782px) {
	.admin-bar {
		#masthead {
			&.header_sticky {
				&.affix {
					//top: 46px;
				}
			}
		}
	}
}

@media screen and (min-width: @screen-sm-min) {
	.post-type-archive-product .navbar-nav {
		max-width: 80%;
	}
}