/**************shortcodes*********/
* {
	margin: 0;
	padding: 0
}

p {
	margin-bottom: 20px;
}

code {
	white-space: normal;
}

.clear {
	clear: both
}

input, textarea, a {
	&:focus {
		outline: none;
		box-shadow: 0 0 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

/* Alignment */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft, img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright, img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter, img.aligncenter, .wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.wp-caption-text {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding-right: 10px;
}

.sticky .entry-date {
	display: none;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
	display: none;
}

.bypostauthor > article .fn:before {
	content: "\f408";
	margin: 0 2px 0 -2px;
	position: relative;
	top: -1px;
}

/* #Lists
================================================== */
ul, ol {
	margin-bottom: 10px;
}

ol {
	list-style: decimal;
	margin-left: 15px;
}

ul.square {
	list-style: square outside;
}

ul.circle {
	list-style: circle outside;
}

ul ul, ul ol,
ol ol, ol ul {
	margin: 4px 0 5px 30px;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
	margin-bottom: 6px;
}

/*#table*/

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

th, td {
	padding: 4px 6px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}

td {
	border-width: 0 1px 1px 0;
}

dd {
	margin-bottom: 24px;
}

select {
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	width: auto;
	height: 34px;
	padding: 6px 12px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	background-color: #fff;
	background-image: none;
	&:focus {
		border-color: #e6e6e6;
		box-shadow: 0 0 0;
		outline: none;
	}
}

input[type=file] {
	&:focus {
		border-color: #e6e6e6;
		box-shadow: 0 0 0;
		outline: none;
	}
}

/**
 * 6.5 Gallery
 * -----------------------------------------------------------------------------
 */
.page-content .page-content-inner .gallery .gallery-item img {
	margin-bottom: 0px;
}

.gallery {
	margin-bottom: 20px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: calc(~"50% - 4px");
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: calc(~"33.3% - 4px");
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: calc(~"25% - 4px");
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: calc(~"20% - 4px");
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: calc(~"16.7% - 4px");
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: calc(~"14.28% - 4px");
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: calc(~"12.5% - 4px");
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: calc(~"11.1% - 4px");
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.ob-google-map-iframe{
	position: relative;
	iframe{
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}