.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    opacity: 0.7;
    width: 187px;
    height: 187px;
    border-radius: 187px;
     .content{
        .number{
            font-weight: bold;
            font-size: 60px;
         }
        .text{
            margin-top: 30px;
            font-size: 15px;
            color: #fff;
        }
    }
}