// Typography
.thim-button-link-icon {
    font-family: @thim_font_body_font_family;
    background-color: @thim_body_primary_color;

    &:hover {
        background-color: rgba(red(@thim_body_primary_color), green(@thim_body_primary_color), blue(@thim_body_primary_color), 0.8);
    }
}

body {
    font-family: @thim_font_body_font_family;
    font-size: @thim_font_body_font_size;
    font-weight: @thim_font_body_font_weight;
    line-height: @thim_font_body_line_height;
    color: @thim_font_body_color;
    overflow-x: hidden;
    background-color: @thim_body_bg_color;
}

h1 {
    color: @thim_font_h1_color;
    font-size: @thim_font_h1_font_size;
    font-weight: @thim_font_h1_font_weight;
    font-style: @thim_font_h1_font_style;
    text-transform: @thim_font_h1_text_transform;
    line-height: @thim_font_h1_line_height;
}

h2 {
    color: @thim_font_h2_color;
    font-size: @thim_font_h2_font_size;
    font-weight: @thim_font_h2_font_weight;
    font-style: @thim_font_h2_font_style;
    text-transform: @thim_font_h2_text_transform;
    line-height: @thim_font_h2_line_height;
}

h3 {
    color: @thim_font_h3_color;
    font-size: @thim_font_h3_font_size;
    font-weight: @thim_font_h3_font_weight;
    font-style: @thim_font_h3_font_style;
    text-transform: @thim_font_h3_text_transform;
    line-height: @thim_font_h3_line_height;
}

h4 {
    color: @thim_font_h4_color;
    font-size: @thim_font_h4_font_size;
    font-weight: @thim_font_h4_font_weight;
    font-style: @thim_font_h4_font_style;
    text-transform: @thim_font_h4_text_transform;
    line-height: @thim_font_h4_line_height;
}

h5 {
    color: @thim_font_h5_color;
    font-size: @thim_font_h5_font_size;
    font-weight: @thim_font_h5_font_weight;
    font-style: @thim_font_h5_font_style;
    text-transform: @thim_font_h5_text_transform;
    line-height: @thim_font_h5_line_height;
}

h6 {
    color: @thim_font_h6_color;
    font-size: @thim_font_h6_font_size;
    font-weight: @thim_font_h6_font_weight;
    font-style: @thim_font_h6_font_style;
    text-transform: @thim_font_h6_text_transform;
    line-height: @thim_font_h6_line_height;
}

// Pages container
.pages-container {
    > div {
        h2 {
            font-family: @thim_font_title_font_family;
        }
    }
}


// Go to top button
#back-to-top {
    background: @thim_footer_bg_color;

    &:hover {
        background: @thim_body_primary_color;
    }
}

//Map direction
body {
    .find-our-location {
        a {
            color: @thim_body_secondary_color;

            &:hover {
                color: @thim_body_secondary_color;
            }
        }
    }
}


// For fixed footer
.content-area {
    background-color: @thim_body_bg_color;
}

// Custom slider

.rev_slider {
    .sl-text {
        font-family: @thim_font_title_font_family;
    }

    .sl-button {
        a {
            &:hover {
                color: @thim_body_primary_color;
            }
        }
    }
}

// Flexslider style config
article.format-gallery {
    .flexslider {
        .flex-direction-nav {
            a {
                &:before {
                    color: @thim_body_primary_color;
                }
            }
        }
    }
}

#footer {
    font-size: @thim_font_body_font_size - 2;

    .footer-sidebars {
        background-color: @thim_footer_bg_color;
        color: @thim_footer_text_font_color;

        .wrap_content {
            .widget-title {
                font-family: @thim_font_title_font_family;
            }

            .widget-title::after {
                border-bottom: 2px solid @thim_body_primary_color;
            }

            .widget_nav_menu {
                ul {
                    li {
                        a {
                            font-family: @thim_font_body_font_family;
                            color: @thim_footer_text_font_color;
                        }
                    }
                }
            }
        }
    }

    #powered {
        background-color: @thim_footer_bg_color;
        color: @thim_footer_text_font_color;

        .container {
            .bottom-footer {
                .copyright {
                    a {
                        color: @thim_body_primary_color;
                    }
                }

                .bottom-footer-widgets {
                    ul {
                        li {
                            a {
                                font-family: @thim_font_body_font_family;
                                color: @thim_footer_text_font_color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-area {
    .heading-top {
        .container {
            font-family: @thim_font_title_font_family;
        }
    }

    .breadcrumbs-container {
        .container {
            ul {
                li {
                    font-family: @thim_font_body_font_family;
                }
            }
        }
    }
}

.social-link {
    ul {
        li {
            a {
                color: @thim_footer_text_font_color;
            }
        }
    }
}

.loop-pagination, .pagination {
    li {
        .page-numbers {
            &:hover {
                color: @thim_body_primary_color;
            }
        }

        .current {
            background-color: @thim_body_primary_color;

            &:hover {
                background-color: @thim_body_primary_color !important;
            }
        }

    }
}

// Tabs
.content-area {
    .vc_tta-tabs-list, .vc_tta-panels {
        .vc_tta-tab, .vc_tta-panel {
            &.vc_active {
                a {
                    background-color: @thim_body_primary_color !important;
                }
            }

            &:hover {
                a {
                    background-color: @thim_body_primary_color !important;
                }
            }

            a {
                font-family: @thim_font_title_font_family;
                font-size: @thim_font_body_font_size;
                color: @thim_body_primary_color !important;
            }

        }
    }

    .vc_tta-tabs-list {
        .vc_tta-tab {
            border: 1px solid @thim_body_primary_color;
        }
    }
}


// Shortcode custom menu
.vc_wp_custommenu {
    ul {
        li {
            border: 1px solid @thim_body_primary_color;

            a {
                color: @thim_body_primary_color;
                font-family: @thim_font_title_font_family;

                &:hover {
                    background-color: @thim_body_primary_color;
                }

            }

            &.current-menu-item {
                a {
                    background-color: @thim_body_primary_color;
                }
            }
        }
    }
}

.blog,
.archive,
.archive.author,
.archive.tag,
.archive.category,
.single,
.search.search-results,
.search.search-no-results,
.page {
    a {
        &:hover, &:active {
            color: @thim_body_primary_color;
        }
    }
}

.widget_mc4wp_form_widget {
    form {
        p {
            &:first-child {
                input {
                    &:focus {
                        box-shadow: 0 0 0 1px @thim_body_primary_color;
                    }
                }
            }

            &:nth-of-type(2) {
                input {
                    background-color: @thim_body_primary_color;

                    &:hover {
                        background-color: rgba(red(@thim_body_primary_color), green(@thim_body_primary_color), blue(@thim_body_primary_color), 0.8);
                    }
                }
            }
        }
    }
}

/*
    Global Style for Shop Pages
*/

/* Woocommerce Notices */
.woocommerce-message, .woocommerce-error, .woocommerce-info {
    background-color: @thim_body_primary_color !important;
    border-top-color: @thim_body_primary_color !important;

    a {
        &:hover {
            color: @thim_body_primary_color !important;
        }
    }
}

/* Woocommerce Pagination */
.woocommerce-pagination {
    ul {
        li {
            a {
                &:hover {
                    color: @thim_body_primary_color !important;
                }
            }

            .current {
                background-color: @thim_body_primary_color !important;
            }
        }
    }
}

/* Product on sale */
.onsale {
    background-color: @thim_body_primary_color !important;
}


/* Button to change quantity product */
.qty-button {
    &:hover {
        background-color: @thim_body_primary_color;
    }
}

.list-product {
    li {
        .item-product {
            .product-title {
                font-family: @thim_font_title_font_family;

                &:hover {
                    color: @thim_body_primary_color;
                }
            }

            .product-price {
                .price {
                    color: @thim_body_primary_color;
                }
            }
        }
    }
}

/* Add To Cart button */
.add-product-to-cart-button {
    &:hover {
        background-color: @thim_body_primary_color !important;
    }
}


/* Added to Cart */
.added_to_cart {
    color: @thim_body_primary_color;

    &:hover {
        color: @thim_body_primary_color;
    }
}

/* Quick View button */
.yith-wcqv-button {
    &:hover {
        background-color: @thim_body_primary_color !important;
    }
}

.view-cart {
    font-family: @thim_font_title_font_family;
}

/* Modal Quick View */
#yith-quick-view-modal {
    .yith-wcqv-main {
        .yith-wcqv-close {
            &:hover {
                background-color: @thim_body_primary_color;
            }
        }

        .detail-product-meta {
            a {
                color: @thim_body_primary_color;
            }
        }

        .price-in-single {
            color: @thim_body_primary_color !important;
        }
    }
}

/*
    Content Single Product Page
*/

/* Product */
div.product {
    .product-summary {
        .woocommerce-product-rating {
            .woocommerce-review-link {
                &:hover {
                    color: @thim_body_primary_color;
                }
            }
        }

        .price-in-single {
            color: @thim_body_primary_color !important;
        }

        .add-to-cart-single {
            .single_add_to_cart_button {
                &:hover {
                    background-color: @thim_body_primary_color !important;
                }
            }
        }

        .product_meta {
            .detail-product-meta {
                a {
                    color: @thim_body_primary_color !important;

                    &:hover {
                        color: @thim_font_body_color !important;
                    }
                }
            }
        }
    }

    /* Tabs */

    .woocommerce-tabs {
        .tabs {
            .active {
                border-bottom: 4px solid @thim_body_primary_color !important;
            }
        }

        .panel {

            #reviews {
                #comments {
                    .commentlist {
                        .meta {
                            strong {
                                color: @thim_body_primary_color !important;
                            }
                        }
                    }
                }

                #review_form_wrapper {
                    #review_form {
                        form {
                            .form-submit {
                                input[type="submit"] {
                                    &:hover {
                                        background-color: @thim_body_primary_color;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    /* Up sells product */

    .upsells {
        h2 {
            font-family: @thim_font_title_font_family;
        }
    }
}

/* Cross sells product */
.cross-sells {
    h2 {
        font-family: @thim_font_title_font_family;
    }
}

/* Title of widget */
.widget-title {
    font-family: @thim_font_title_font_family;
}

/* Widget Woocommerce Product Category */
.widget_product_categories {
    ul {
        li {
            font-family: @thim_font_title_font_family;

            a {
                &:hover {
                    color: @thim_body_primary_color !important;
                }
            }
        }
    }
}

/* Widget Price Filter */
.widget_price_filter {
    .price_slider_wrapper {
        .price_slider {
            .ui-slider-range {
                background-color: @thim_body_primary_color !important;
            }

            .ui-slider-handle {
                color: @thim_body_primary_color;
                border: 3px solid @thim_body_primary_color;
            }
        }

        .price_slider_amount {
            .button {
                color: @thim_body_primary_color !important;

                &:hover {
                    background-color: @thim_body_primary_color !important;
                }
            }

            .price_label {
                font-family: @thim_font_body_font_family;
            }
        }
    }
}

/* Widget Thim: Top Sale Product */
.wc-top-sale-products {
    .top-product {
        .product-name {
            font-family: @thim_font_title_font_family;

            &:hover {
                color: @thim_body_primary_color;
            }
        }

        .product-price {
            color: @thim_body_primary_color;
        }

        .lable-price {
            font-family: @thim_font_body_font_family;
        }
    }

}

/* Widget Thim: Product Search */
.woocommerce-product-search {
    .icon-search-product {
        background: @thim_body_primary_color;
    }
}

/* Widget Woocommerce Recent Reviews */
.widget_recent_reviews {
    .product_list_widget {
        a {
            font-family: @thim_font_title_font_family;

            &:hover {
                color: @thim_body_primary_color;
            }
        }
    }
}

#mini-cart {
    .widget_shopping_cart {
        .cart-number-product {
            background-color: @thim_body_primary_color;
        }

        .widget_shopping_cart_content {
            .buttons {
                .checkout {
                    background-color: @thim_body_primary_color;

                    &:hover {
                        background-color: lighten(@thim_body_primary_color, 5%);
                    }
                }
            }
        }
    }
}

/*
 Page Cart
*/

.shop_table {
    .cart_item {
        .product-remove {
            a {
                &:hover {
                    color: @thim_body_primary_color !important;
                }
            }
        }

        .product-name {
            a {
                &:hover {
                    color: @thim_body_primary_color;
                }
            }
        }
    }

}

.button {
    &:hover {
        background-color: @thim_body_primary_color !important;
    }
}

.cart-collaterals {
    .cart_totals {
        a {
            color: @thim_body_primary_color;
        }

        .woocommerce-shipping-calculator {
            section {
                button {
                    background-color: @thim_body_primary_color;
                }
            }

        }

        .wc-proceed-to-checkout {
            a {
                background-color: @thim_body_primary_color;

                &:hover {
                    background-color: @thim_body_primary_color;
                }
            }
        }
    }
}

.icon-box-top {
    .content {
        h1, h2, h3, h4, h5, h6 {
            font-family: @thim_font_title_font_family;
        }

        .des {
            font-family: @thim_font_body_font_family;
        }
    }

    .thim-button-link {
        a {
            color: @thim_body_primary_color;
        }
    }
}

.icon-box-top-2 {
    .content {
        h1, h2, h3, h4, h5, h6 {
            font-family: @thim_font_title_font_family;
        }

        .des {
            font-family: @thim_font_body_font_family;
        }
    }
}

.icon-box-left {
    .content {
        h1, h2, h3, h4, h5, h6 {
            font-family: @thim_font_title_font_family;
        }

        .des {
            font-family: @thim_font_body_font_family;
        }
    }
}

.testimonials {
    .person {
        .client_name {
            a {
                color: @thim_body_primary_color;
            }
        }
    }

    .owl-controls {
        .owl-pagination {
            .active {
                span {
                    border-color: @thim_body_primary_color;
                    background-color: @thim_body_primary_color;
                }
            }
        }
    }
}

.wrapper-lists-our-team {
    ul {
        li {
            .content-team {
                h4 {
                    font-family: @thim_font_title_font_family;
                }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @thim_font_title_font_family;
}

.circle {
    background-color: @thim_body_primary_color;

    .content {
        .number {
            color: @thim_body_secondary_color;
        }
    }
}

.recent-posts {
    .post-on {
        background-color: @thim_body_primary_color;
    }

    .title-post {
        font-family: @thim_font_title_font_family;
    }
}

.read-all-news-link {
    .thim-button-link {
        a {
            color: @thim_body_primary_color;
        }
    }
}

.wrapper-filter-controls {
    .filter-controls {
        .filter {
            &.active,
            &:hover {
                color: @thim_body_primary_color;
            }
        }
    }
}

@width-logo: unit(@thim_width_logo, px);


#masthead {
    &.affix-top {
        background-color: @thim_bg_main_menu_color;

        nav.navbar-primary {
            a {
                color: @thim_main_menu_text_color;

                &:hover {
                    color: @thim_main_menu_text_hover_color;
                }
            }

            .navbar-nav {
                > li.current_page_item {
                    > a {
                        color: @thim_main_menu_text_hover_color;
                    }
                }

                > li.current-menu-ancestor {
                    > a {
                        color: @thim_main_menu_text_hover_color;
                    }
                }

            }
        }
    }

    &.affix {
        background-color: @thim_bg_main_menu_color;

        nav.navbar-primary {
            a {
                color: @thim_main_menu_text_color;

                &:hover {
                    color: @thim_main_menu_text_hover_color;
                }
            }

            .navbar-nav {
                > li.current_page_item {
                    > a {
                        color: @thim_main_menu_text_hover_color;
                    }
                }

                > li.current-menu-ancestor {
                    > a {
                        color: @thim_main_menu_text_hover_color;
                    }
                }

            }
        }
    }

    /* Wrapper logo */

    .wrapper-logo {
        background-color: @thim_logo_bg_color;
        width: @width-logo;
        min-width: @width-logo;

        > .sm-logo {
            width: @width-logo;

            > a {
                img {
                    max-width: @width-logo;
                }
            }
        }

        .sm-logo-affix {
            width: @width-logo;

            a {
                img {
                    max-width: @width-logo;
                    left: -@width-logo;
                }
            }
        }

    }

    .header-right {
        /* Top header */

        .top-header {
            > div {

                .widget_thim_contact {
                    .phone_number {
                        color: @thim_main_menu_text_color;
                    }

                    .email_name {
                        color: @thim_body_primary_color;
                    }
                }

                .widget_thim_schedule {
                    &:before {
                        color: @thim_main_menu_text_color;
                    }

                    .weekday_title, .weekend_title {
                        color: @thim_main_menu_text_color;
                    }
                }
            }
        }

        /* Navigation */

        .navigation {
            &.affix-top {
                .widget_shopping_cart_content {
                    .product_list_widget {
                        a {
                            color: @thim_main_menu_text_color;

                            &:hover {
                                color: @thim_main_menu_text_hover_color;
                            }
                        }
                    }
                }

                #minicart-hover {
                    i {
                        color: @thim_main_menu_text_color;

                        &:hover {
                            color: @thim_main_menu_text_hover_color;
                        }
                    }

                    &:hover {
                        i {
                            color: @thim_main_menu_text_hover_color;
                        }
                    }
                }
            }

            .logo-effect {
                a {
                    left: -@width-logo;
                }
            }

            nav.navbar-primary {
                .navbar-nav {
                    li {
                        a {
                            font-family: @thim_font_title_font_family;
                        }
                    }
                }
            }

            aside.widget {
                > div {
                    a {
                        font-family: @thim_font_body_font_family;
                        background-color: @thim_body_primary_color;

                        &:hover {
                            background-color: rgba(red(@thim_body_primary_color), green(@thim_body_primary_color), blue(@thim_body_primary_color), 0.8);
                        }
                    }
                }
            }
        }
    }
}


//Mobile (xs)

@media (max-width: 767px) {
    #masthead {
        .container {
            background-color: @thim_logo_bg_color;
        }
    }

    .mobile-menu-container {
        background-color: @thim_bg_mobile_menu_color;

        .navbar-nav {
            .sub-menu {
                &:before {
                    background-color: @thim_mobile_menu_text_color;
                }
            }

            .icon-toggle {
                color: @thim_mobile_menu_text_color;
            }

            li ul.sub-menu {
                margin: 0;

                > li {
                    &:before {
                        background-color: @thim_mobile_menu_text_color;
                    }
                }
            }
        }
    }

    .wrapper-container {
        &.mobile-menu-open {
            .mobile-menu-container {
                ul.navbar-nav {
                    .current-menu-ancestor {
                        .icon-toggle {
                            i {
                                color: @thim_body_primary_color;
                            }
                        }
                    }

                    li {
                        a {
                            color: @thim_mobile_menu_text_color;
                        }
                    }

                    li.current_page_item {
                        > a {
                            color: @thim_body_primary_color;
                        }
                    }
                }
            }
        }
    }
}

.blog,
.archive,
.archive.author,
.archive.tag,
.archive.category,
.search.search-results,
.search.search-no-results,
.single,
.single-post,
.page-template-default {
    a {
        &:hover {
            color: @thim_body_primary_color;
        }

        &:active {
            color: @thim_body_primary_color;
        }
    }

    .archive-content {
        .share-post {
            .date-meta {
                background-color: @thim_body_primary_color;
            }

            .social-share {
                li {
                    a {
                        &:hover {
                            color: @thim_body_primary_color;
                        }
                    }
                }
            }
        }

    }

    /* Comment post|page */

    .comments-area {
        .comment-list-inner {
            .comment-extra-info {
                a {
                    &:hover {
                        color: @thim_body_primary_color;
                    }
                }
            }
        }

        .comment-respond {

            /* Submit Button */

            .form-submit {
                input#submit {
                    &:hover {
                        background-color: @thim_body_primary_color;
                    }
                }
            }
        }

    }
}

.wpcf7 {
    .contact-us {
        .wpcf7-form-control-wrap {
            .wpcf7-form-control {
                &.wpcf7-not-valid {
                    &:focus {
                        border-color: darken(@thim_body_secondary_color, 10%);
                    }
                }
            }

            .wpcf7-not-valid-tip {
                display: none;
            }
        }

        input, textarea {
            &:focus {
                border-color: darken(@thim_body_secondary_color, 10%);
            }
        }

        .wpcf7-submit {
            font-family: @thim_font_body_font_family;
            background-color: @thim_body_primary_color;

            &:hover {
                background-color: rgba(red(@thim_body_primary_color), green(@thim_body_primary_color), blue(@thim_body_primary_color), 0.8);
            }
        }
    }
}
