.widget_mc4wp_form_widget {
	form {
		p {
			&:first-child {
				float: left;
				width: 66.67%;
				label {
					display: none;
				}
				input {
					width: 100%;
					height: 35px;
					border: none;
					color: #7a7a7a;
					padding-left: 10px;
					background-image: url('images/mail-icon.png');
					background-position: 95% center;
					background-repeat: no-repeat;
					&.not-valid {
						border: 1px solid #f00;
					}
				}

			}
			&:nth-of-type(2) {
				width: 33.33%;
				float: left;
				input {
					display: block;
					width: 100%;
					height: 35px;
					padding: 0 20px;
					border: none;
					margin-left: 10px;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;

					position: relative;
					.transition(all 0.2s ease-in-out 0s);
					&:active {
						top: 1px;
					}
				}

			}
		}
		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}
	.mc4wp-error {
		border: 1px solid red;
		margin: 0;
		padding: 5px 10px;
		background: none;
		.rounded(0);
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
	.widget_mc4wp_form_widget {
		form {
			p {
				&:first-child {
					width: 100%;
				}
				&:nth-of-type(2) {
					input {
						margin-left: 0;
						width: auto;
					}
				}
			}
		}
	}
}

.rtl {
	.widget_mc4wp_form_widget {
		form {
			p {
				&:first-child {
					input {
						background-position: 5% center;
					}
				}
			}
		}
	}
}