/*
Theme Name: FastEx
Theme URI: http://demo.thimpress.com/fastex
Author: ThimPress
Author URI: http://thimpress.com
Description: WordPress Logistic & Transportation Theme
Version: 1.3
License: Split License
License URI: #
Tags: two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: fastex
Domain Path: /languages/
*/

.thim-button-link-icon:after {
	padding-right: 11px;
	padding-left: 0;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.list-unstyled {
	padding-right: 0;
	padding-left: 0;
}

.list-inline {
	padding-right: 0;
	margin-right: -5px;
	padding-left: 0;
	margin-left: auto;
}

.list-inline > li {
	padding-right: 5px;
	padding-left: 5px;
}

dd {
	margin-right: 0;
	margin-left: auto;
}

@media (min-width: 768px) {

	.list-inline > li {
		padding-right: 5px;
		padding-left: 5px;
	}

	dd {
		margin-right: 0;
		margin-left: auto;
	}

}

blockquote {
	border-right: 5px solid #eeeeee;
	border-left: none;
}

.blockquote-reverse,
blockquote.pull-left {
	padding-left: 15px;
	padding-right: 0;
	border-left: 5px solid #eeeeee;
	border-right: 0;
	text-align: left;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right;
}

.col-xs-pull-12 {
	left: 100%;
	right: auto;
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto;
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto;
}

.col-xs-pull-9 {
	left: 75%;
	right: auto;
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto;
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto;
}

.col-xs-pull-6 {
	left: 50%;
	right: auto;
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto;
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto;
}

.col-xs-pull-3 {
	left: 25%;
	right: auto;
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto;
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto;
}

.col-xs-pull-0 {
	left: auto;
	right: auto;
}

.col-xs-push-12 {
	right: 100%;
	left: auto;
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: auto;
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: auto;
}

.col-xs-push-9 {
	right: 75%;
	left: auto;
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: auto;
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: auto;
}

.col-xs-push-6 {
	right: 50%;
	left: auto;
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: auto;
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: auto;
}

.col-xs-push-3 {
	right: 25%;
	left: auto;
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: auto;
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: auto;
}

.col-xs-push-0 {
	right: auto;
	left: auto;
}

.col-xs-offset-12 {
	margin-right: 100%;
	margin-left: auto;
}

.col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: auto;
}

.col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: auto;
}

.col-xs-offset-9 {
	margin-right: 75%;
	margin-left: auto;
}

.col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: auto;
}

.col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: auto;
}

.col-xs-offset-6 {
	margin-right: 50%;
	margin-left: auto;
}

.col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: auto;
}

.col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: auto;
}

.col-xs-offset-3 {
	margin-right: 25%;
	margin-left: auto;
}

.col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: auto;
}

.col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: auto;
}

.col-xs-offset-0 {
	margin-right: 0%;
	margin-left: auto;
}

@media (min-width: 768px) {

	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		float: right;
	}

	.col-xs-pull-12 {
		left: 100%;
		right: auto;
	}

	.col-xs-pull-11 {
		left: 91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left: 83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left: 75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left: 66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left: 58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left: 50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left: 41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left: 33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left: 25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left: 16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left: 8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left: auto;
		right: auto;
	}

	.col-xs-push-12 {
		right: 100%;
		left: auto;
	}

	.col-xs-push-11 {
		right: 91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right: 83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right: 75%;
		left: auto;
	}

	.col-xs-push-8 {
		right: 66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right: 58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right: 50%;
		left: auto;
	}

	.col-xs-push-5 {
		right: 41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right: 33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right: 25%;
		left: auto;
	}

	.col-xs-push-2 {
		right: 16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right: 8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right: auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right: 100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right: 91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right: 83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right: 75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right: 66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right: 58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right: 50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right: 41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right: 33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right: 25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right: 16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right: 8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right: 0%;
		margin-left: auto;
	}

}

@media (min-width: 992px) {

	.col-xs-pull-12 {
		left: 100%;
		right: auto;
	}

	.col-xs-pull-11 {
		left: 91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left: 83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left: 75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left: 66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left: 58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left: 50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left: 41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left: 33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left: 25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left: 16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left: 8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left: auto;
		right: auto;
	}

	.col-xs-push-12 {
		right: 100%;
		left: auto;
	}

	.col-xs-push-11 {
		right: 91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right: 83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right: 75%;
		left: auto;
	}

	.col-xs-push-8 {
		right: 66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right: 58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right: 50%;
		left: auto;
	}

	.col-xs-push-5 {
		right: 41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right: 33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right: 25%;
		left: auto;
	}

	.col-xs-push-2 {
		right: 16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right: 8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right: auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right: 100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right: 91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right: 83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right: 75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right: 66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right: 58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right: 50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right: 41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right: 33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right: 25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right: 16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right: 8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right: 0%;
		margin-left: auto;
	}

	@media (min-width: 768px) {

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
			float: right;
		}

		.col-xs-pull-12 {
			left: 100%;
			right: auto;
		}

		.col-xs-pull-11 {
			left: 91.66666667%;
			right: auto;
		}

		.col-xs-pull-10 {
			left: 83.33333333%;
			right: auto;
		}

		.col-xs-pull-9 {
			left: 75%;
			right: auto;
		}

		.col-xs-pull-8 {
			left: 66.66666667%;
			right: auto;
		}

		.col-xs-pull-7 {
			left: 58.33333333%;
			right: auto;
		}

		.col-xs-pull-6 {
			left: 50%;
			right: auto;
		}

		.col-xs-pull-5 {
			left: 41.66666667%;
			right: auto;
		}

		.col-xs-pull-4 {
			left: 33.33333333%;
			right: auto;
		}

		.col-xs-pull-3 {
			left: 25%;
			right: auto;
		}

		.col-xs-pull-2 {
			left: 16.66666667%;
			right: auto;
		}

		.col-xs-pull-1 {
			left: 8.33333333%;
			right: auto;
		}

		.col-xs-pull-0 {
			left: auto;
			right: auto;
		}

		.col-xs-push-12 {
			right: 100%;
			left: auto;
		}

		.col-xs-push-11 {
			right: 91.66666667%;
			left: auto;
		}

		.col-xs-push-10 {
			right: 83.33333333%;
			left: auto;
		}

		.col-xs-push-9 {
			right: 75%;
			left: auto;
		}

		.col-xs-push-8 {
			right: 66.66666667%;
			left: auto;
		}

		.col-xs-push-7 {
			right: 58.33333333%;
			left: auto;
		}

		.col-xs-push-6 {
			right: 50%;
			left: auto;
		}

		.col-xs-push-5 {
			right: 41.66666667%;
			left: auto;
		}

		.col-xs-push-4 {
			right: 33.33333333%;
			left: auto;
		}

		.col-xs-push-3 {
			right: 25%;
			left: auto;
		}

		.col-xs-push-2 {
			right: 16.66666667%;
			left: auto;
		}

		.col-xs-push-1 {
			right: 8.33333333%;
			left: auto;
		}

		.col-xs-push-0 {
			right: auto;
			left: auto;
		}

		.col-xs-offset-12 {
			margin-right: 100%;
			margin-left: auto;
		}

		.col-xs-offset-11 {
			margin-right: 91.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-10 {
			margin-right: 83.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-9 {
			margin-right: 75%;
			margin-left: auto;
		}

		.col-xs-offset-8 {
			margin-right: 66.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-7 {
			margin-right: 58.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-6 {
			margin-right: 50%;
			margin-left: auto;
		}

		.col-xs-offset-5 {
			margin-right: 41.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-4 {
			margin-right: 33.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-3 {
			margin-right: 25%;
			margin-left: auto;
		}

		.col-xs-offset-2 {
			margin-right: 16.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-1 {
			margin-right: 8.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-0 {
			margin-right: 0%;
			margin-left: auto;
		}

	}

}

@media (min-width: 1200px) {

	.col-xs-pull-11 {
		left: 91.66666667%;
		right: auto;
	}

	.col-xs-pull-10 {
		left: 83.33333333%;
		right: auto;
	}

	.col-xs-pull-9 {
		left: 75%;
		right: auto;
	}

	.col-xs-pull-8 {
		left: 66.66666667%;
		right: auto;
	}

	.col-xs-pull-7 {
		left: 58.33333333%;
		right: auto;
	}

	.col-xs-pull-6 {
		left: 50%;
		right: auto;
	}

	.col-xs-pull-5 {
		left: 41.66666667%;
		right: auto;
	}

	.col-xs-pull-4 {
		left: 33.33333333%;
		right: auto;
	}

	.col-xs-pull-3 {
		left: 25%;
		right: auto;
	}

	.col-xs-pull-2 {
		left: 16.66666667%;
		right: auto;
	}

	.col-xs-pull-1 {
		left: 8.33333333%;
		right: auto;
	}

	.col-xs-pull-0 {
		left: auto;
		right: auto;
	}

	.col-xs-push-12 {
		right: 100%;
		left: auto;
	}

	.col-xs-push-11 {
		right: 91.66666667%;
		left: auto;
	}

	.col-xs-push-10 {
		right: 83.33333333%;
		left: auto;
	}

	.col-xs-push-9 {
		right: 75%;
		left: auto;
	}

	.col-xs-push-8 {
		right: 66.66666667%;
		left: auto;
	}

	.col-xs-push-7 {
		right: 58.33333333%;
		left: auto;
	}

	.col-xs-push-6 {
		right: 50%;
		left: auto;
	}

	.col-xs-push-5 {
		right: 41.66666667%;
		left: auto;
	}

	.col-xs-push-4 {
		right: 33.33333333%;
		left: auto;
	}

	.col-xs-push-3 {
		right: 25%;
		left: auto;
	}

	.col-xs-push-2 {
		right: 16.66666667%;
		left: auto;
	}

	.col-xs-push-1 {
		right: 8.33333333%;
		left: auto;
	}

	.col-xs-push-0 {
		right: auto;
		left: auto;
	}

	.col-xs-offset-12 {
		margin-right: 100%;
		margin-left: auto;
	}

	.col-xs-offset-11 {
		margin-right: 91.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-10 {
		margin-right: 83.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-9 {
		margin-right: 75%;
		margin-left: auto;
	}

	.col-xs-offset-8 {
		margin-right: 66.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-7 {
		margin-right: 58.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-6 {
		margin-right: 50%;
		margin-left: auto;
	}

	.col-xs-offset-5 {
		margin-right: 41.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-4 {
		margin-right: 33.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-3 {
		margin-right: 25%;
		margin-left: auto;
	}

	.col-xs-offset-2 {
		margin-right: 16.66666667%;
		margin-left: auto;
	}

	.col-xs-offset-1 {
		margin-right: 8.33333333%;
		margin-left: auto;
	}

	.col-xs-offset-0 {
		margin-right: 0%;
		margin-left: auto;
	}

	@media (min-width: 768px) {

		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
			float: right;
		}

		.col-xs-pull-12 {
			left: 100%;
			right: auto;
		}

		.col-xs-pull-11 {
			left: 91.66666667%;
			right: auto;
		}

		.col-xs-pull-10 {
			left: 83.33333333%;
			right: auto;
		}

		.col-xs-pull-9 {
			left: 75%;
			right: auto;
		}

		.col-xs-pull-8 {
			left: 66.66666667%;
			right: auto;
		}

		.col-xs-pull-7 {
			left: 58.33333333%;
			right: auto;
		}

		.col-xs-pull-6 {
			left: 50%;
			right: auto;
		}

		.col-xs-pull-5 {
			left: 41.66666667%;
			right: auto;
		}

		.col-xs-pull-4 {
			left: 33.33333333%;
			right: auto;
		}

		.col-xs-pull-3 {
			left: 25%;
			right: auto;
		}

		.col-xs-pull-2 {
			left: 16.66666667%;
			right: auto;
		}

		.col-xs-pull-1 {
			left: 8.33333333%;
			right: auto;
		}

		.col-xs-pull-0 {
			left: auto;
			right: auto;
		}

		.col-xs-push-12 {
			right: 100%;
			left: auto;
		}

		.col-xs-push-11 {
			right: 91.66666667%;
			left: auto;
		}

		.col-xs-push-10 {
			right: 83.33333333%;
			left: auto;
		}

		.col-xs-push-9 {
			right: 75%;
			left: auto;
		}

		.col-xs-push-8 {
			right: 66.66666667%;
			left: auto;
		}

		.col-xs-push-7 {
			right: 58.33333333%;
			left: auto;
		}

		.col-xs-push-6 {
			right: 50%;
			left: auto;
		}

		.col-xs-push-5 {
			right: 41.66666667%;
			left: auto;
		}

		.col-xs-push-4 {
			right: 33.33333333%;
			left: auto;
		}

		.col-xs-push-3 {
			right: 25%;
			left: auto;
		}

		.col-xs-push-2 {
			right: 16.66666667%;
			left: auto;
		}

		.col-xs-push-1 {
			right: 8.33333333%;
			left: auto;
		}

		.col-xs-push-0 {
			right: auto;
			left: auto;
		}

		.col-xs-offset-12 {
			margin-right: 100%;
			margin-left: auto;
		}

		.col-xs-offset-11 {
			margin-right: 91.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-10 {
			margin-right: 83.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-9 {
			margin-right: 75%;
			margin-left: auto;
		}

		.col-xs-offset-8 {
			margin-right: 66.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-7 {
			margin-right: 58.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-6 {
			margin-right: 50%;
			margin-left: auto;
		}

		.col-xs-offset-5 {
			margin-right: 41.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-4 {
			margin-right: 33.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-3 {
			margin-right: 25%;
			margin-left: auto;
		}

		.col-xs-offset-2 {
			margin-right: 16.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-1 {
			margin-right: 8.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-0 {
			margin-right: 0%;
			margin-left: auto;
		}

	}

	@media (min-width: 992px) {

		.col-xs-pull-12 {
			left: 100%;
			right: auto;
		}

		.col-xs-pull-11 {
			left: 91.66666667%;
			right: auto;
		}

		.col-xs-pull-10 {
			left: 83.33333333%;
			right: auto;
		}

		.col-xs-pull-9 {
			left: 75%;
			right: auto;
		}

		.col-xs-pull-8 {
			left: 66.66666667%;
			right: auto;
		}

		.col-xs-pull-7 {
			left: 58.33333333%;
			right: auto;
		}

		.col-xs-pull-6 {
			left: 50%;
			right: auto;
		}

		.col-xs-pull-5 {
			left: 41.66666667%;
			right: auto;
		}

		.col-xs-pull-4 {
			left: 33.33333333%;
			right: auto;
		}

		.col-xs-pull-3 {
			left: 25%;
			right: auto;
		}

		.col-xs-pull-2 {
			left: 16.66666667%;
			right: auto;
		}

		.col-xs-pull-1 {
			left: 8.33333333%;
			right: auto;
		}

		.col-xs-pull-0 {
			left: auto;
			right: auto;
		}

		.col-xs-push-12 {
			right: 100%;
			left: auto;
		}

		.col-xs-push-11 {
			right: 91.66666667%;
			left: auto;
		}

		.col-xs-push-10 {
			right: 83.33333333%;
			left: auto;
		}

		.col-xs-push-9 {
			right: 75%;
			left: auto;
		}

		.col-xs-push-8 {
			right: 66.66666667%;
			left: auto;
		}

		.col-xs-push-7 {
			right: 58.33333333%;
			left: auto;
		}

		.col-xs-push-6 {
			right: 50%;
			left: auto;
		}

		.col-xs-push-5 {
			right: 41.66666667%;
			left: auto;
		}

		.col-xs-push-4 {
			right: 33.33333333%;
			left: auto;
		}

		.col-xs-push-3 {
			right: 25%;
			left: auto;
		}

		.col-xs-push-2 {
			right: 16.66666667%;
			left: auto;
		}

		.col-xs-push-1 {
			right: 8.33333333%;
			left: auto;
		}

		.col-xs-push-0 {
			right: auto;
			left: auto;
		}

		.col-xs-offset-12 {
			margin-right: 100%;
			margin-left: auto;
		}

		.col-xs-offset-11 {
			margin-right: 91.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-10 {
			margin-right: 83.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-9 {
			margin-right: 75%;
			margin-left: auto;
		}

		.col-xs-offset-8 {
			margin-right: 66.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-7 {
			margin-right: 58.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-6 {
			margin-right: 50%;
			margin-left: auto;
		}

		.col-xs-offset-5 {
			margin-right: 41.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-4 {
			margin-right: 33.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-3 {
			margin-right: 25%;
			margin-left: auto;
		}

		.col-xs-offset-2 {
			margin-right: 16.66666667%;
			margin-left: auto;
		}

		.col-xs-offset-1 {
			margin-right: 8.33333333%;
			margin-left: auto;
		}

		.col-xs-offset-0 {
			margin-right: 0%;
			margin-left: auto;
		}

		@media (min-width: 768px) {

			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
				float: right;
			}

			.col-xs-pull-12 {
				left: 100%;
				right: auto;
			}

			.col-xs-pull-11 {
				left: 91.66666667%;
				right: auto;
			}

			.col-xs-pull-10 {
				left: 83.33333333%;
				right: auto;
			}

			.col-xs-pull-9 {
				left: 75%;
				right: auto;
			}

			.col-xs-pull-8 {
				left: 66.66666667%;
				right: auto;
			}

			.col-xs-pull-7 {
				left: 58.33333333%;
				right: auto;
			}

			.col-xs-pull-6 {
				left: 50%;
				right: auto;
			}

			.col-xs-pull-5 {
				left: 41.66666667%;
				right: auto;
			}

			.col-xs-pull-4 {
				left: 33.33333333%;
				right: auto;
			}

			.col-xs-pull-3 {
				left: 25%;
				right: auto;
			}

			.col-xs-pull-2 {
				left: 16.66666667%;
				right: auto;
			}

			.col-xs-pull-1 {
				left: 8.33333333%;
				right: auto;
			}

			.col-xs-pull-0 {
				left: auto;
				right: auto;
			}

			.col-xs-push-12 {
				right: 100%;
				left: auto;
			}

			.col-xs-push-11 {
				right: 91.66666667%;
				left: auto;
			}

			.col-xs-push-10 {
				right: 83.33333333%;
				left: auto;
			}

			.col-xs-push-9 {
				right: 75%;
				left: auto;
			}

			.col-xs-push-8 {
				right: 66.66666667%;
				left: auto;
			}

			.col-xs-push-7 {
				right: 58.33333333%;
				left: auto;
			}

			.col-xs-push-6 {
				right: 50%;
				left: auto;
			}

			.col-xs-push-5 {
				right: 41.66666667%;
				left: auto;
			}

			.col-xs-push-4 {
				right: 33.33333333%;
				left: auto;
			}

			.col-xs-push-3 {
				right: 25%;
				left: auto;
			}

			.col-xs-push-2 {
				right: 16.66666667%;
				left: auto;
			}

			.col-xs-push-1 {
				right: 8.33333333%;
				left: auto;
			}

			.col-xs-push-0 {
				right: auto;
				left: auto;
			}

			.col-xs-offset-12 {
				margin-right: 100%;
				margin-left: auto;
			}

			.col-xs-offset-11 {
				margin-right: 91.66666667%;
				margin-left: auto;
			}

			.col-xs-offset-10 {
				margin-right: 83.33333333%;
				margin-left: auto;
			}

			.col-xs-offset-9 {
				margin-right: 75%;
				margin-left: auto;
			}

			.col-xs-offset-8 {
				margin-right: 66.66666667%;
				margin-left: auto;
			}

			.col-xs-offset-7 {
				margin-right: 58.33333333%;
				margin-left: auto;
			}

			.col-xs-offset-6 {
				margin-right: 50%;
				margin-left: auto;
			}

			.col-xs-offset-5 {
				margin-right: 41.66666667%;
				margin-left: auto;
			}

			.col-xs-offset-4 {
				margin-right: 33.33333333%;
				margin-left: auto;
			}

			.col-xs-offset-3 {
				margin-right: 25%;
				margin-left: auto;
			}

			.col-xs-offset-2 {
				margin-right: 16.66666667%;
				margin-left: auto;
			}

			.col-xs-offset-1 {
				margin-right: 8.33333333%;
				margin-left: auto;
			}

			.col-xs-offset-0 {
				margin-right: 0%;
				margin-left: auto;
			}

		}

	}

}

caption {
	text-align: right;
}

th {
	text-align: right;
}

@media screen and (max-width: 767px) {

	caption {
		text-align: right;
	}

	th {
		text-align: right;
	}

}

.radio label,
.checkbox label {
	padding-right: 20px;
	padding-left: 0;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	margin-right: -20px;
	margin-left: auto;
}

.radio-inline,
.checkbox-inline {
	padding-right: 20px;
	padding-left: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin-right: 10px;
	margin-left: auto;
}

.form-control-static.input-lg,
.form-control-static.input-sm {
	padding-right: 0;
	padding-left: 0;
}

.has-feedback .form-control {
	padding-left: 42.5px;
	padding-right: 0;
}

.form-control-feedback {
	left: 0;
	right: auto;
}

@media (min-width: 768px) {

	.has-feedback .form-control {
		padding-left: 42.5px;
		padding-right: 0;
	}

	.form-control-feedback {
		left: 0;
		right: auto;
	}

}

.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}

@media (min-width: 768px) {

	.form-horizontal .form-group {
		margin-right: -15px;
		margin-left: -15px;
	}

}

.form-horizontal .has-feedback .form-control-feedback {
	left: 15px;
	right: auto;
}

.caret {
	margin-right: 2px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin-left: auto;
}

.dropdown-menu {
	right: 0;
	float: right;
	text-align: right;
	left: auto;
}

.dropdown-menu.pull-left {
	left: 0;
	right: auto;
}

.dropdown-menu-left {
	right: auto;
	left: 0;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.dropdown-backdrop {
	right: 0;
	left: 0;
}

.pull-left > .dropdown-menu {
	left: 0;
	right: auto;
}

@media (min-width: 768px) {

	.dropdown-backdrop {
		right: 0;
		left: 0;
	}

	.pull-left > .dropdown-menu {
		left: 0;
		right: auto;
	}

}

.btn-group > .btn,
.btn-group-vertical > .btn {
	float: right;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
	margin-right: -1px;
	margin-left: auto;
}

.btn-toolbar {
	margin-right: -5px;
	margin-left: auto;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
	float: right;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
	margin-right: 5px;
	margin-left: auto;
}

.btn-group > .btn:first-child {
	margin-right: 0;
	margin-left: auto;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn-group {
	float: right;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.btn-group > .btn + .dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px;
}

.btn-group > .btn-lg + .dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px;
}

.btn .caret {
	margin-right: 0;
	margin-left: auto;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
	margin-right: 0;
	margin-left: auto;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-group-justified > .btn-group .dropdown-menu {
	right: auto;
	left: auto;
}

.input-group[class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.input-group .form-control {
	float: right;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.input-group-addon:first-child {
	border-left: 0;
	border-right: none;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group-addon:last-child {
	border-right: 0;
	border-left: none;
}

.input-group-btn > .btn + .btn {
	margin-right: -1px;
	margin-left: auto;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
	margin-left: -1px;
	margin-right: auto;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
	margin-right: -1px;
	margin-left: auto;
}

.nav {
	padding-right: 0;
	padding-left: 0;
}

.nav-tabs > li {
	float: right;
}

.nav-tabs > li > a {
	margin-left: 2px;
	margin-right: auto;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	right: auto;
	left: auto;
}

.nav-tabs.nav-justified > li > a {
	margin-left: 0;
	margin-right: auto;
}

.nav-pills > li {
	float: right;
}

.nav-pills > li + li {
	margin-right: 2px;
	margin-left: auto;
}

.nav-stacked > li + li {
	margin-right: 0;
	margin-left: auto;
}

.nav-justified > .dropdown .dropdown-menu {
	right: auto;
	left: auto;
}

.nav-tabs-justified > li > a {
	margin-left: 0;
	margin-right: auto;
}

.nav-tabs .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

@media (min-width: 768px) {

	.navbar-collapse {
		padding-left: 15px;
		padding-right: 15px;
	}

}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-left: -15px;
	margin-right: -15px;
}

@media (min-width: 768px) {

	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
	.container-fluid > .navbar-collapse {
		margin-left: -15px;
		margin-right: -15px;
	}

}

.navbar-fixed-top,
.navbar-fixed-bottom {
	left: 0;
	right: 0;
}

.navbar-brand {
	float: right;
}

@media (min-width: 768px) {

	.navbar-brand {
		float: right;
	}

}

.navbar-toggle {
	float: left;
	margin-left: 15px;
	margin-right: auto;
}

@media (max-width: 767px) {

	.navbar-form {
		margin-right: -15px;
		margin-left: -15px;
	}

	.navbar-nav > li > .dropdown-menu {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	@media (min-width: 768px) {

		.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

	}

	@media (min-width: 768px) {

		.navbar-nav > li > .dropdown-menu {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		@media (min-width: 768px) {

			.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

		}

	}

	.pagination {
		padding-right: 0;
		padding-left: 0;
	}

	.pagination > li > a,
	.pagination > li > span {
		float: right;
		margin-right: -1px;
		margin-left: auto;
	}

	.pagination > li:first-child > a,
	.pagination > li:first-child > span {
		margin-right: 0;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		margin-left: auto;
	}

	.pagination > li:last-child > a,
	.pagination > li:last-child > span {
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}

	.pagination-lg > li:first-child > a,
	.pagination-lg > li:first-child > span {
		border-bottom-right-radius: 6px;
		border-top-right-radius: 6px;
	}

	.pagination-lg > li:last-child > a,
	.pagination-lg > li:last-child > span {
		border-bottom-left-radius: 6px;
		border-top-left-radius: 6px;
	}

	.pagination-sm > li:first-child > a,
	.pagination-sm > li:first-child > span {
		border-bottom-right-radius: 3px;
		border-top-right-radius: 3px;
	}

	.pagination-sm > li:last-child > a,
	.pagination-sm > li:last-child > span {
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}

	.pager {
		padding-right: 0;
		padding-left: 0;
	}

	.pager .next > a,
	.pager .next > span {
		float: left;
	}

	.pager .previous > a,
	.pager .previous > span {
		float: right;
	}

	.list-group-item > .badge {
		float: left;
	}

	.list-group-item > .badge + .badge {
		margin-left: 5px;
		margin-right: auto;
	}

	.nav-pills > li > a > .badge {
		margin-right: 3px;
		margin-left: auto;
	}

	@media screen and (min-width: 768px) {

		.nav-pills > li > a > .badge {
			margin-right: 3px;
			margin-left: auto;
		}

	}

	.thumbnail > img,
	.thumbnail a > img {
		margin-right: auto;
		margin-left: auto;
	}

	.alert-dismissable,
	.alert-dismissible {
		padding-left: 35px;
		padding-right: 0;
	}

	.alert-dismissable .close,
	.alert-dismissible .close {
		left: -21px;
		right: auto;
	}

	.progress-bar {
		float: right;
	}

	.media-left,
	.media > .pull-left {
		padding-right: 10px;
		padding-left: 0;
	}

	.media-right,
	.media > .pull-right {
		padding-left: 10px;
		padding-right: 0;
	}

	.media-list {
		padding-right: 0;
		padding-left: 0;
	}

	.list-group {
		padding-right: 0;
		padding-left: 0;
	}

	.list-group-item:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.list-group-item:last-child {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.panel-heading {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.panel-footer {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.panel > .list-group:first-child .list-group-item:first-child,
	.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.panel > .list-group:last-child .list-group-item:last-child,
	.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.panel > .table caption,
	.panel > .table-responsive > .table caption,
	.panel > .panel-collapse > .table caption {
		padding-right: 15px;
		padding-left: 15px;
	}

	.panel > .table:first-child,
	.panel > .table-responsive:first-child > .table:first-child {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.panel > .table:first-child > thead:first-child > tr:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}

	.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
	.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
		border-top-right-radius: 3px;
	}

	.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
	.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
	.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
	.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
	.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
		border-top-left-radius: 3px;
	}

	.panel > .table:last-child,
	.panel > .table-responsive:last-child > .table:last-child {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.panel > .table:last-child > tbody:last-child > tr:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
	.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
		border-bottom-right-radius: 3px;
	}

	.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
	.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
	.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
	.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
		border-bottom-left-radius: 3px;
	}

	.panel > .table-bordered > thead > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
	.panel > .table-bordered > tbody > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
	.panel > .table-bordered > tfoot > tr > th:first-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.panel > .table-bordered > thead > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
	.panel > .table-bordered > tbody > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
	.panel > .table-bordered > tfoot > tr > td:first-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-right: 0;
		border-left: none;
	}

	.panel > .table-bordered > thead > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
	.panel > .table-bordered > tbody > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
	.panel > .table-bordered > tfoot > tr > th:last-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.panel > .table-bordered > thead > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
	.panel > .table-bordered > tbody > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
	.panel > .table-bordered > tfoot > tr > td:last-child,
	.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-left: 0;
		border-right: none;
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive iframe,
	.embed-responsive embed,
	.embed-responsive object,
	.embed-responsive video {
		right: 0;
		left: auto;
	}

	.close {
		float: left;
	}

	.modal {
		left: 0;
		right: 0;
	}

	.modal-backdrop {
		left: 0;
		right: 0;
	}

	.modal-footer {
		text-align: left;
	}

	.modal-footer .btn + .btn {
		margin-right: 5px;
		margin-left: auto;
	}

	.modal-footer .btn-group .btn + .btn {
		margin-right: -1px;
		margin-left: auto;
	}

	.modal-footer .btn-block + .btn-block {
		margin-right: 0;
		margin-left: auto;
	}

	.tooltip.left {
		margin-right: 3px;
		margin-left: auto;
	}

	.tooltip.right {
		margin-right: -3px;
		margin-left: auto;
	}

	.tooltip.top .tooltip-arrow {
		right: 50%;
		margin-right: -5px;
		left: auto;
		margin-left: auto;
	}

	.tooltip.top-right .tooltip-arrow {
		left: 5px;
		right: auto;
	}

	.tooltip.top-left .tooltip-arrow {
		right: 5px;
		left: auto;
	}

	.tooltip.left .tooltip-arrow {
		right: 0;
		border-left-color: #000000;
		left: auto;
	}

	.tooltip.right .tooltip-arrow {
		left: 0;
		border-right-color: #000000;
		right: auto;
	}

	.tooltip.bottom .tooltip-arrow {
		right: 50%;
		margin-right: -5px;
		left: auto;
		margin-left: auto;
	}

	.tooltip.bottom-right .tooltip-arrow {
		left: 5px;
		right: auto;
	}

	.tooltip.bottom-left .tooltip-arrow {
		right: 5px;
		left: auto;
	}

	.popover {
		right: 0;
		text-align: right;
		left: auto;
	}

	.popover.left {
		margin-right: 10px;
		margin-left: auto;
	}

	.popover.right {
		margin-right: -10px;
		margin-left: auto;
	}

	.popover.top > .arrow {
		right: 50%;
		margin-right: -11px;
		left: auto;
		margin-left: auto;
	}

	.popover.top > .arrow:after {
		margin-right: -10px;
		margin-left: auto;
	}

	.popover.left > .arrow {
		right: -11px;
		border-right-width: 0;
		border-left-color: #999999;
		border-left-color: rgba(0, 0, 0, 0.25);
		left: auto;
	}

	.popover.left > .arrow:after {
		right: 1px;
		border-right-width: 0;
		border-left-color: #ffffff;
		left: auto;
	}

	.popover.bottom > .arrow {
		right: 50%;
		margin-right: -11px;
		left: auto;
		margin-left: auto;
	}

	.popover.bottom > .arrow:after {
		margin-right: -10px;
		margin-left: auto;
	}

	.popover.right > .arrow {
		left: -11px;
		border-left-width: 0;
		border-right-color: #999999;
		border-right-color: rgba(0, 0, 0, 0.25);
		right: auto;
	}

	.popover.right > .arrow:after {
		left: 1px;
		border-left-width: 0;
		border-right-color: #ffffff;
		right: auto;
	}

	.carousel-inner > .item {
		-webkit-transition: 0.6s ease-in-out right;
		-moz-transition: 0.6s ease-in-out right;
		-o-transition: 0.6s ease-in-out right;
		-ms-transition: 0.6s ease-in-out right;
		transition: 0.6s ease-in-out right;
	}

	@media all and (transform-3d), (-webkit-transform-3d) {

		.popover.right > .arrow {
			left: -11px;
			border-left-width: 0;
			border-right-color: #999999;
			border-right-color: rgba(0, 0, 0, 0.25);
			right: auto;
		}

		.popover.right > .arrow:after {
			left: 1px;
			border-left-width: 0;
			border-right-color: #ffffff;
			right: auto;
		}

		.carousel-inner > .item {
			-webkit-transition: 0.6s ease-in-out right;
			-moz-transition: 0.6s ease-in-out right;
			-o-transition: 0.6s ease-in-out right;
			-ms-transition: 0.6s ease-in-out right;
			transition: 0.6s ease-in-out right;
		}

	}

	.carousel-inner > .active {
		right: 0;
		left: auto;
	}

	.carousel-inner > .next {
		right: 100%;
		left: auto;
	}

	.carousel-inner > .prev {
		right: -100%;
		left: auto;
	}

	.carousel-inner > .next.right,
	.carousel-inner > .prev.left {
		right: 0;
		left: auto;
	}

	.carousel-inner > .active.right {
		right: -100%;
		left: auto;
	}

	.carousel-inner > .active.left {
		right: 100%;
		left: auto;
	}

	.carousel-control {
		right: 0;
		left: auto;
	}

	.carousel-control.right {
		background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
		background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
	}

	.carousel-control.left {
		right: auto;
		left: 0;
		background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
		background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
	}

	.carousel-control .icon-prev,
	.carousel-control .glyphicon-chevron-right {
		right: 50%;
		margin-right: -10px;
		left: auto;
		margin-left: auto;
	}

	.carousel-control .icon-next,
	.carousel-control .glyphicon-chevron-left {
		left: 50%;
		margin-left: -10px;
		right: auto;
		margin-right: auto;
	}

	.carousel-indicators {
		right: 50%;
		margin-right: -30%;
		padding-right: 0;
		left: auto;
		padding-left: 0;
		margin-left: auto;
	}

	.carousel-caption {
		right: 15%;
		left: 15%;
	}

	@media screen and (min-width: 768px) {

		.carousel-control .icon-next,
		.carousel-control .glyphicon-chevron-left {
			left: 50%;
			margin-left: -10px;
			right: auto;
			margin-right: auto;
		}

		.carousel-indicators {
			right: 50%;
			margin-right: -30%;
			padding-right: 0;
			left: auto;
			padding-left: 0;
			margin-left: auto;
		}

		.carousel-caption {
			right: 15%;
			left: 15%;
		}

	}

	.center-block {
		margin-right: auto;
		margin-left: auto;
	}

	.pull-left {
		float: left !important;
	}

	.pull-right {
		float: right !important;
	}
}

/**************shortcodes*********/

/* Alignment */
.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

.wp-caption-text {
	padding-left: 10px;
	padding-right: 0;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.bypostauthor > article .fn:before {
	margin: 0 -2px 0 2px;
}

/* #Lists
================================================== */

ol {
	margin-right: 15px;
	margin-left: auto;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 4px 30px 5px 0;
}

/*#table*/

caption,
th,
td {
	text-align: right;
}

/**
 * 6.5 Gallery
 * -----------------------------------------------------------------------------
 */

.gallery-item {
	float: right;
	margin: 0 0 4px 4px;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: right;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.custom-gallery .wpb_gallery_slides > ul {
	right: -10px !important;
	left: auto;
}

.custom-gallery .wpb_gallery_slides > ul > li {
	margin: 0 10px 10px 0;
}

#back-to-top {
	left: 20px;
	right: auto;
}

.trust-us-wrap-1 .trust-us {
	border-right: 1px solid #afba1c;
	border-left: none;
}

.trust-us-wrap-2 .trust-us {
	border-right: 1px solid #085c8f;
	border-left: none;
}

.rev_slider .sl-button a:after {
	padding-right: 10px;
	padding-left: 0;
}

.icon-box-top .icon::before {
	right: 0;
	left: auto;
}

.icon-box-top .icon::after {
	left: 0;
	right: auto;
}

.icon-box-top .icon .vc_icon_element.vc_icon_element-outer {
	text-align: right;
}

.icon-box-top-2:hover:after {
	right: 0;
	left: auto;
}

.icon-box-top-2 .icon .vc_icon_element.vc_icon_element-outer {
	text-align: right !important;
}

.testimonials .person {
	padding-right: 20px;
	padding-left: 0;
}

.testimonials .person .avatar-testimonial {
	margin-left: 145px;
	margin-right: auto;
}

.recent-posts .row {
	margin-right: 0 !important;
	margin-left: auto;
}

.recent-posts .post-on {
	margin: 5px 0 20px 10px;
}

.read-all-news-link .thim-button-link a {
	margin-right: 0 !important;
	margin-left: auto;
}

.wrapper-gallery-filter.row {
	margin-right: -10px;
	margin-left: -10px;
}

.wrapper-gallery-filter .fancybox {
	padding-right: 10px;
	padding-left: 10px;
}

.wrapper-gallery-filter .fancybox:before {
	right: 10px;
	left: 10px;
}

.wrapper-gallery-filter .fancybox:after {
	right: 50%;
	margin-right: -20px;
	left: auto;
	margin-left: auto;
}

ul.thim-images-gallery-grid li {
	float: right;
	border-left: 1px solid #eee;
	border-right: none;
}

ul.thim-images-gallery-grid li.last {
	border-left-color: transparent;
}

@media (max-width: 767px) {

	ul.thim-images-gallery-grid li {
		float: right;
		border-left: 1px solid #eee;
		border-right: none;
	}

	ul.thim-images-gallery-grid li.last {
		border-left-color: transparent;
	}

}

/* User Login */

#footer #powered .container .bottom-footer .bottom-footer-widgets {
	text-align: left;
}

#footer #powered .container .bottom-footer .bottom-footer-widgets ul {
	margin-right: -5px;
	margin-left: auto;
}

.content-area .breadcrumbs-container .container ul li {
	float: right;
}

.content-area .breadcrumbs-container .container ul li + li:before {
	padding-right: 11px;
	padding-left: 11px;
}

.social-link ul li {
	margin-left: 18px;
	margin-right: auto;
}

/*--------------------------------------------------------------
#Paging Numberic
--------------------------------------------------------------*/

.loop-pagination li,
.pagination li {
	margin-left: 15px;
	margin-right: auto;
}

.loop-pagination li .page-numbers.next,
.pagination li .page-numbers.next,
.loop-pagination li .page-numbers.prev,
.pagination li .page-numbers.prev {
	padding-right: 1rem;
	padding-left: 1rem;
}

.archive-content .loop-pagination {
	margin-right: 80px;
	margin-left: auto;
}

.content-area .vc_tta-tabs-list .vc_tta-tab {
	margin: 1px 0 0 1px;
}

.content-area .vc_tta-panels .vc_tta-panel-body ul li {
	margin-right: 40px;
	margin-left: auto;
}

.content-area .vc_tta-panels .vc_tta-panel-body ul li:before {
	right: 15px;
	left: auto;
}

.vc_wp_custommenu ul li a {
	padding: 20px 58px 20px 0;
}

.vc_wp_custommenu ul li a i {
	right: 10px;
	left: auto;
}

.blog .widget-area ul,
.archive .widget-area ul,
.archive.author .widget-area ul,
.archive.tag .widget-area ul,
.archive.category .widget-area ul,
.single .widget-area ul,
.search.search-results .widget-area ul,
.search.search-no-results .widget-area ul,
.page .widget-area ul {
	margin-right: 0;
	margin-left: auto;
}

.blog .search-form:after,
.archive .search-form:after,
.archive.author .search-form:after,
.archive.tag .search-form:after,
.archive.category .search-form:after,
.single .search-form:after,
.search.search-results .search-form:after,
.search.search-no-results .search-form:after,
.page .search-form:after {
	left: 13px;
	right: auto;
}

.blog .search-form label .search-submit,
.archive .search-form label .search-submit,
.archive.author .search-form label .search-submit,
.archive.tag .search-form label .search-submit,
.archive.category .search-form label .search-submit,
.single .search-form label .search-submit,
.search.search-results .search-form label .search-submit,
.search.search-no-results .search-form label .search-submit,
.page .search-form label .search-submit {
	margin-right: 0;
	margin-left: 0;
}

.blog .widget_nav_menu ul ul,
.archive .widget_nav_menu ul ul,
.archive.author .widget_nav_menu ul ul,
.archive.tag .widget_nav_menu ul ul,
.archive.category .widget_nav_menu ul ul,
.single .widget_nav_menu ul ul,
.search.search-results .widget_nav_menu ul ul,
.search.search-no-results .widget_nav_menu ul ul,
.page .widget_nav_menu ul ul {
	margin: 0 25px 0 0;
}

.widget_mc4wp_form_widget form p:first-child {
	float: right;
}

.widget_mc4wp_form_widget form p:first-child input {
	padding-right: 10px;
	padding-left: 0;
}

.widget_mc4wp_form_widget form p:nth-of-type(2) {
	float: right;
}

.widget_mc4wp_form_widget form p:nth-of-type(2) input {
	margin-right: 10px;
	margin-left: auto;
}

@media (min-width: 768px) and (max-width: 1200px) {

	.widget_mc4wp_form_widget form p:nth-of-type(2) input {
		margin-right: 10px;
		margin-left: auto;
	}

}

.wpcf7 .contact-us input,
.wpcf7 .contact-us textarea {
	padding-right: 8px;
	padding-left: 0;
	text-align: right;
}

/*
    Global Style for Shop Pages
*/
/* Woocommerce Notices */

/* Woocommerce Pagination */
.woocommerce-pagination {
	text-align: right !important;
}

.woocommerce-pagination ul li span {
	margin-left: 30px !important;
	margin-right: auto;
}

.woocommerce-pagination ul li a {
	margin-left: 20px !important;
	margin-right: auto;
}

/* Product on sale */
.onsale {
	right: 0 !important;
	left: auto;
}

/* Global Rating */

/* Button to change quantity product */
.qty-button {
	padding-right: 1px;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 0;
}

/* Padding product */
.padding-product {
	padding-right: 30px !important;
	padding-left: 0 !important;
}

/*
    Archive Product Page
*/
/* Result Count & Orderby */
.count-sort {
	float: left;
}

.count-sort .woocommerce-result-count {
	margin-left: 15px;
	margin-right: auto;
}

.count-sort .chosen-container .chosen-single {
	float: left;
}

.count-sort .chosen-container .chosen-single span:after {
	padding-right: 10px;
	padding-left: 0;
}

.list-product li .item-product .star-rating {
	float: right;
}

.list-product li .item-product .product-price .price del {
	padding-left: 10px;
	padding-right: 0;
}

/* Image hover to show Box button */

/* Show Add to Cart & Quick View */

/* Add To Cart button */

/* While loading to add product to cart */

/* Added to Cart */
.added_to_cart {
	right: 30%;
	left: auto;
}

/* Quick View button */
.yith-wcqv-button {
	margin-right: 10px !important;
	margin-left: auto;
}

/* Modal Quick View */

/*
    Content Single Product Page
*/
/* Product */

div.product .product-summary .social-share li {
	margin-left: 5px;
	margin-right: auto;
}

div.product .woocommerce-tabs .tabs .tab_component::before {
	right: 0 !important;
	bottom-left-radius: none !important;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	left: auto;
}

div.product .upsells {
	padding-right: 15px;
	padding-left: 0;
}

div.product .upsells .list-product {
	margin-right: -15px !important;
	margin-left: auto;
}

/* Cross sells product */

/* Related Product */

/* Flexslider */

.thumbnail-product .flexslider .flex-control-nav li {
	margin-left: 20px;
	margin-right: auto;
}

.thumbnail-product .price-in-single del {
	padding-left: 15px;
	padding-right: 0;
}

.related .list-product li {
	padding-right: 0;
	padding-left: 0;
}

.related .list-product li .item-product .product-title,
.related .list-product li .item-product .product-price {
	padding-right: 20px;
	padding-left: 0;
}

.related .list-product li .item-product .star-rating::before {
	right: 20px;
	left: auto;
}

.related .list-product li .item-product .star-rating span::before {
	right: 20px;
	left: auto;
}

/*
    Sidebar Shop
*/
/* Title of widget */

/* Widget Woocommerce Product Category */
.widget_product_categories ul {
	padding-right: 0;
	padding-left: 0;
}

/* Widget Price Filter */

.widget_price_filter .price_slider_wrapper .price_slider_amount .button {
	float: left !important;
}

.widget_price_filter .price_slider_wrapper .price_slider_amount .price_label {
	float: right;
	text-align: right;
}

/* Widget Thim: Top Sale Product */

.wc-top-sale-products .top-product .star-rating {
	float: right;
	margin: 10px 0 10px 70px;
}

/* Widget Thim: Product Search */

.woocommerce-product-search input[type=search] {
	padding-right: 10px;
	border-left: none;
	padding-left: 0;
	border-right: none;
}

/* Widget Woocommerce Recent Reviews */

/* Widget Product Tag Cloud */

#mini-cart .widget_shopping_cart #minicart-hover {
	padding: 30px 18px 30px 30px;
}

#mini-cart .widget_shopping_cart .cart-number-product {
	left: 10px;
	right: auto;
}

#mini-cart .widget_shopping_cart .widget_shopping_cart_content {
	left: 0;
	right: auto;
}

#mini-cart .widget_shopping_cart .widget_shopping_cart_content .product_list_widget .quantity .amount {
	padding-right: 3px;
	padding-left: 0;
}

/*
 Page Cart
*/

.shop_table tr > th:last-child {
	border-left: none;
	border-right: none;
}

.shop_table .cart_item > td:last-child {
	border-left: none;
	border-right: none;
}

.woocommerce-checkout input {
	padding-right: 10px;
	padding-left: 0;
}

.woocommerce-checkout textarea {
	padding-right: 10px;
	padding-left: 0;
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.2.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2014 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */

.chosen-container .chosen-drop {
	right: -9999px;
	left: auto;
}

.chosen-container.chosen-with-drop .chosen-drop {
	right: 0;
	left: auto;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
	padding: 0 8px 0 0;
}

.chosen-container-single .chosen-single span {
	margin-left: 26px;
	margin-right: auto;
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-left: 38px;
	margin-right: auto;
}

.chosen-container-single .chosen-single abbr {
	left: 26px;
	right: auto;
}

.chosen-container-single .chosen-single div {
	left: 0;
	right: auto;
}

.chosen-container-single .chosen-search input[type="text"] {
	padding: 4px 5px 4px 20px;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	right: -9999px;
	left: auto;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}

.chosen-container .chosen-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}

/* @end */
/* @group Multi Chosen */

.chosen-container-multi .chosen-choices li {
	float: right;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 3px 0 3px 5px;
	padding: 3px 5px 3px 20px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	left: 3px;
	right: auto;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-left: 5px;
	padding-right: 0;
}

/* @end */
/* @group Active  */

.chosen-container-active.chosen-with-drop .chosen-single {
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-right: none;
	border-left: none;
}

/* @end */
/* @group Disabled Support */

/* @end */
/* @group Right to Left */
.chosen-rtl {
	text-align: left;
}

.chosen-rtl .chosen-single {
	padding: 0 0 0 8px;
}

.chosen-rtl .chosen-single span {
	margin-left: 0;
	margin-right: 26px;
}

.chosen-rtl .chosen-single-with-deselect span {
	margin-right: 38px;
	margin-left: auto;
}

.chosen-rtl .chosen-single div {
	left: auto;
	right: 3px;
}

.chosen-rtl .chosen-single abbr {
	left: auto;
	right: 26px;
}

.chosen-rtl .chosen-choices li {
	float: left;
}

.chosen-rtl .chosen-choices li.search-choice {
	margin: 3px 0 3px 5px;
	padding: 3px 19px 3px 5px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
	left: auto;
	right: 4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
	right: 9999px;
	left: auto;
}

.chosen-rtl.chosen-container-single .chosen-results {
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
}

.chosen-rtl .chosen-results li.group-option {
	padding-left: 15px;
	padding-right: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
	padding: 4px 20px 4px 5px;
}

#masthead .wrapper-logo .sm-logo-affix a img {
	right: -25px;
	left: auto;
}

#masthead .header-left .top-header {
	padding-right: 18px;
	padding-left: 0;
}

#masthead .header-left .top-header > div .widget_thim_contact .call_us_title,
#masthead .header-left .top-header > div .widget_thim_contact .phone_number,
#masthead .header-left .top-header > div .widget_thim_contact .email_title {
	padding-left: 5px;
	padding-right: 0;
}

#masthead .header-left .top-header > div .widget_thim_schedule {
	text-align: left;
}

#masthead .header-left .top-header > div .widget_thim_schedule:before {
	padding-left: 4px;
	padding-right: 0;
}

#masthead .header-left .top-header > div .widget_thim_schedule .weekday_title {
	padding-left: 8px;
	padding-right: 0;
}

#masthead .header-left .top-header > div .widget_thim_schedule .weekday_schedule {
	padding-left: 10px;
	padding-right: 0;
}

#masthead .header-left .top-header > div .widget_thim_schedule .weekend_title {
	padding-left: 7px;
	padding-right: 0;
}

#masthead .header-left .navigation .tm-table aside.widget > div {
	float: left;
}

#masthead .header-left .navigation .logo-effect a {
	right: -25px;
	left: auto;
}

#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li > a {
	padding-right: 18px;
	padding-left: 18px;
}

#masthead .header-left .navigation nav.navbar-primary .navbar-nav li.menu-item-has-children > ul.sub-menu {
	margin-right: 0;
	margin-left: auto;
}

#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li.menu-item-has-children > ul.sub-menu {
	padding-right: 0;
	right: 0;
	left: auto;
	padding-left: 0;
}

#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li.menu-item-has-children > ul.sub-menu li.menu-item-has-children ul.sub-menu {
	padding-right: 0;
	right: 200px;
	left: auto;
	padding-left: 0;
}

#masthead.header_sticky.affix {
	right: 0;
	left: auto;
}

@media (max-width: 767px) {

	#masthead .header-left .navigation .tm-table aside.widget > div {
		float: left;
	}

	#masthead .header-left .navigation .logo-effect a {
		right: -25px;
		left: auto;
	}

	#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li > a {
		padding-right: 18px;
		padding-left: 18px;
	}

	#masthead .header-left .navigation nav.navbar-primary .navbar-nav li.menu-item-has-children > ul.sub-menu {
		margin-right: 0;
		margin-left: auto;
	}

	#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li.menu-item-has-children > ul.sub-menu {
		padding-right: 0;
		right: 0;
		left: auto;
		padding-left: 0;
	}

	#masthead .header-left .navigation nav.navbar-primary .navbar-nav > li.menu-item-has-children > ul.sub-menu li.menu-item-has-children ul.sub-menu {
		padding-right: 0;
		right: 200px;
		left: auto;
		padding-left: 0;
	}

	#masthead.header_sticky.affix {
		right: 0;
		left: auto;
	}

	.blog .archive-content .share-post,
	.archive .archive-content .share-post,
	.archive.author .archive-content .share-post,
	.archive.tag .archive-content .share-post,
	.archive.category .archive-content .share-post,
	.search.search-results .archive-content .share-post,
	.search.search-no-results .archive-content .share-post,
	.single .archive-content .share-post,
	.single-post .archive-content .share-post,
	.page-template-default .archive-content .share-post {
		margin-left: 20px;
		float: right;
		margin-right: auto;
	}

	.blog .archive-content .content-inner,
	.archive .archive-content .content-inner,
	.archive.author .archive-content .content-inner,
	.archive.tag .archive-content .content-inner,
	.archive.category .archive-content .content-inner,
	.search.search-results .archive-content .content-inner,
	.search.search-no-results .archive-content .content-inner,
	.single .archive-content .content-inner,
	.single-post .archive-content .content-inner,
	.page-template-default .archive-content .content-inner {
		float: right;
	}

	.blog .archive-content .content-inner .entry-meta li,
	.archive .archive-content .content-inner .entry-meta li,
	.archive.author .archive-content .content-inner .entry-meta li,
	.archive.tag .archive-content .content-inner .entry-meta li,
	.archive.category .archive-content .content-inner .entry-meta li,
	.search.search-results .archive-content .content-inner .entry-meta li,
	.search.search-no-results .archive-content .content-inner .entry-meta li,
	.single .archive-content .content-inner .entry-meta li,
	.single-post .archive-content .content-inner .entry-meta li,
	.page-template-default .archive-content .content-inner .entry-meta li {
		margin-left: 8px;
		margin-right: auto;
	}

	.blog .archive-content .content-inner .entry-meta li:last-child,
	.archive .archive-content .content-inner .entry-meta li:last-child,
	.archive.author .archive-content .content-inner .entry-meta li:last-child,
	.archive.tag .archive-content .content-inner .entry-meta li:last-child,
	.archive.category .archive-content .content-inner .entry-meta li:last-child,
	.search.search-results .archive-content .content-inner .entry-meta li:last-child,
	.search.search-no-results .archive-content .content-inner .entry-meta li:last-child,
	.single .archive-content .content-inner .entry-meta li:last-child,
	.single-post .archive-content .content-inner .entry-meta li:last-child,
	.page-template-default .archive-content .content-inner .entry-meta li:last-child {
		margin-left: 0;
		margin-right: auto;
	}

	.blog .archive-content .content-inner .entry-meta li:before,
	.archive .archive-content .content-inner .entry-meta li:before,
	.archive.author .archive-content .content-inner .entry-meta li:before,
	.archive.tag .archive-content .content-inner .entry-meta li:before,
	.archive.category .archive-content .content-inner .entry-meta li:before,
	.search.search-results .archive-content .content-inner .entry-meta li:before,
	.search.search-no-results .archive-content .content-inner .entry-meta li:before,
	.single .archive-content .content-inner .entry-meta li:before,
	.single-post .archive-content .content-inner .entry-meta li:before,
	.page-template-default .archive-content .content-inner .entry-meta li:before {
		margin-left: 5px;
		margin-right: auto;
	}

	.blog .comments-area,
	.archive .comments-area,
	.archive.author .comments-area,
	.archive.tag .comments-area,
	.archive.category .comments-area,
	.search.search-results .comments-area,
	.search.search-no-results .comments-area,
	.single .comments-area,
	.single-post .comments-area,
	.page-template-default .comments-area {
		margin-right: 80px;
		margin-left: auto;
	}

	.blog .comments-area .comment-list-inner .avatar,
	.archive .comments-area .comment-list-inner .avatar,
	.archive.author .comments-area .comment-list-inner .avatar,
	.archive.tag .comments-area .comment-list-inner .avatar,
	.archive.category .comments-area .comment-list-inner .avatar,
	.search.search-results .comments-area .comment-list-inner .avatar,
	.search.search-no-results .comments-area .comment-list-inner .avatar,
	.single .comments-area .comment-list-inner .avatar,
	.single-post .comments-area .comment-list-inner .avatar,
	.page-template-default .comments-area .comment-list-inner .avatar {
		float: right;
	}

	.blog .comments-area .comment-list-inner .comment-left,
	.archive .comments-area .comment-list-inner .comment-left,
	.archive.author .comments-area .comment-list-inner .comment-left,
	.archive.tag .comments-area .comment-list-inner .comment-left,
	.archive.category .comments-area .comment-list-inner .comment-left,
	.search.search-results .comments-area .comment-list-inner .comment-left,
	.search.search-no-results .comments-area .comment-list-inner .comment-left,
	.single .comments-area .comment-list-inner .comment-left,
	.single-post .comments-area .comment-list-inner .comment-left,
	.page-template-default .comments-area .comment-list-inner .comment-left {
		float: right;
	}

	.blog .comments-area .comment-list-inner .comment-awaiting-moderation,
	.archive .comments-area .comment-list-inner .comment-awaiting-moderation,
	.archive.author .comments-area .comment-list-inner .comment-awaiting-moderation,
	.archive.tag .comments-area .comment-list-inner .comment-awaiting-moderation,
	.archive.category .comments-area .comment-list-inner .comment-awaiting-moderation,
	.search.search-results .comments-area .comment-list-inner .comment-awaiting-moderation,
	.search.search-no-results .comments-area .comment-list-inner .comment-awaiting-moderation,
	.single .comments-area .comment-list-inner .comment-awaiting-moderation,
	.single-post .comments-area .comment-list-inner .comment-awaiting-moderation,
	.page-template-default .comments-area .comment-list-inner .comment-awaiting-moderation {
		margin-right: 15px;
		margin-left: auto;
	}

	.blog .comments-area .comment-list-inner .author .author-name:before,
	.archive .comments-area .comment-list-inner .author .author-name:before,
	.archive.author .comments-area .comment-list-inner .author .author-name:before,
	.archive.tag .comments-area .comment-list-inner .author .author-name:before,
	.archive.category .comments-area .comment-list-inner .author .author-name:before,
	.search.search-results .comments-area .comment-list-inner .author .author-name:before,
	.search.search-no-results .comments-area .comment-list-inner .author .author-name:before,
	.single .comments-area .comment-list-inner .author .author-name:before,
	.single-post .comments-area .comment-list-inner .author .author-name:before,
	.page-template-default .comments-area .comment-list-inner .author .author-name:before {
		padding-right: 15px;
		padding-left: 5px;
	}

	.blog .comments-area .comment-list-inner .comment-extra-info i,
	.archive .comments-area .comment-list-inner .comment-extra-info i,
	.archive.author .comments-area .comment-list-inner .comment-extra-info i,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info i,
	.archive.category .comments-area .comment-list-inner .comment-extra-info i,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info i,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info i,
	.single .comments-area .comment-list-inner .comment-extra-info i,
	.single-post .comments-area .comment-list-inner .comment-extra-info i,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info i {
		margin-left: 5px;
		margin-right: auto;
	}

	.blog .comments-area .comment-list-inner .comment-extra-info .date:before,
	.archive .comments-area .comment-list-inner .comment-extra-info .date:before,
	.archive.author .comments-area .comment-list-inner .comment-extra-info .date:before,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info .date:before,
	.archive.category .comments-area .comment-list-inner .comment-extra-info .date:before,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info .date:before,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info .date:before,
	.single .comments-area .comment-list-inner .comment-extra-info .date:before,
	.single-post .comments-area .comment-list-inner .comment-extra-info .date:before,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info .date:before {
		padding-right: 15px;
		padding-left: 5px;
	}

	.blog .comments-area .comment-list-inner .comment-extra-info .author,
	.archive .comments-area .comment-list-inner .comment-extra-info .author,
	.archive.author .comments-area .comment-list-inner .comment-extra-info .author,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info .author,
	.archive.category .comments-area .comment-list-inner .comment-extra-info .author,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info .author,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info .author,
	.single .comments-area .comment-list-inner .comment-extra-info .author,
	.single-post .comments-area .comment-list-inner .comment-extra-info .author,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info .author,
	.blog .comments-area .comment-list-inner .comment-extra-info .date,
	.archive .comments-area .comment-list-inner .comment-extra-info .date,
	.archive.author .comments-area .comment-list-inner .comment-extra-info .date,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info .date,
	.archive.category .comments-area .comment-list-inner .comment-extra-info .date,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info .date,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info .date,
	.single .comments-area .comment-list-inner .comment-extra-info .date,
	.single-post .comments-area .comment-list-inner .comment-extra-info .date,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info .date,
	.blog .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.archive .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.archive.author .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.archive.category .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.single .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.single-post .comments-area .comment-list-inner .comment-extra-info .comment-edit-link,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info .comment-edit-link {
		margin-left: 15px;
		margin-right: auto;
	}

	.blog .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.archive .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.archive.author .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.archive.tag .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.archive.category .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.search.search-results .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.search.search-no-results .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.single .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.single-post .comments-area .comment-list-inner .comment-extra-info .comment-reply-link,
	.page-template-default .comments-area .comment-list-inner .comment-extra-info .comment-reply-link {
		float: left;
	}

	.blog .comments-area .comment-list-inner .children,
	.archive .comments-area .comment-list-inner .children,
	.archive.author .comments-area .comment-list-inner .children,
	.archive.tag .comments-area .comment-list-inner .children,
	.archive.category .comments-area .comment-list-inner .children,
	.search.search-results .comments-area .comment-list-inner .children,
	.search.search-no-results .comments-area .comment-list-inner .children,
	.single .comments-area .comment-list-inner .children,
	.single-post .comments-area .comment-list-inner .children,
	.page-template-default .comments-area .comment-list-inner .children {
		margin-right: 80px;
		margin-left: auto;
	}

	.blog .comments-area .comment-respond .form-submit,
	.archive .comments-area .comment-respond .form-submit,
	.archive.author .comments-area .comment-respond .form-submit,
	.archive.tag .comments-area .comment-respond .form-submit,
	.archive.category .comments-area .comment-respond .form-submit,
	.search.search-results .comments-area .comment-respond .form-submit,
	.search.search-no-results .comments-area .comment-respond .form-submit,
	.single .comments-area .comment-respond .form-submit,
	.single-post .comments-area .comment-respond .form-submit,
	.page-template-default .comments-area .comment-respond .form-submit {
		text-align: left;
	}

	.blog .blog .site-main.alignright,
	.archive .blog .site-main.alignright,
	.archive.author .blog .site-main.alignright,
	.archive.tag .blog .site-main.alignright,
	.archive.category .blog .site-main.alignright,
	.search.search-results .blog .site-main.alignright,
	.search.search-no-results .blog .site-main.alignright,
	.single .blog .site-main.alignright,
	.single-post .blog .site-main.alignright,
	.page-template-default .blog .site-main.alignright,
	.blog .archive .site-main.alignright,
	.archive .archive .site-main.alignright,
	.archive.author .archive .site-main.alignright,
	.archive.tag .archive .site-main.alignright,
	.archive.category .archive .site-main.alignright,
	.search.search-results .archive .site-main.alignright,
	.search.search-no-results .archive .site-main.alignright,
	.single .archive .site-main.alignright,
	.single-post .archive .site-main.alignright,
	.page-template-default .archive .site-main.alignright,
	.blog .single .site-main.alignright,
	.archive .single .site-main.alignright,
	.archive.author .single .site-main.alignright,
	.archive.tag .single .site-main.alignright,
	.archive.category .single .site-main.alignright,
	.search.search-results .single .site-main.alignright,
	.search.search-no-results .single .site-main.alignright,
	.single .single .site-main.alignright,
	.single-post .single .site-main.alignright,
	.page-template-default .single .site-main.alignright {
		padding-left: 45px;
		padding-right: 0;
	}

	.blog .blog .site-main.alignleft,
	.archive .blog .site-main.alignleft,
	.archive.author .blog .site-main.alignleft,
	.archive.tag .blog .site-main.alignleft,
	.archive.category .blog .site-main.alignleft,
	.search.search-results .blog .site-main.alignleft,
	.search.search-no-results .blog .site-main.alignleft,
	.single .blog .site-main.alignleft,
	.single-post .blog .site-main.alignleft,
	.page-template-default .blog .site-main.alignleft,
	.blog .archive .site-main.alignleft,
	.archive .archive .site-main.alignleft,
	.archive.author .archive .site-main.alignleft,
	.archive.tag .archive .site-main.alignleft,
	.archive.category .archive .site-main.alignleft,
	.search.search-results .archive .site-main.alignleft,
	.search.search-no-results .archive .site-main.alignleft,
	.single .archive .site-main.alignleft,
	.single-post .archive .site-main.alignleft,
	.page-template-default .archive .site-main.alignleft,
	.blog .single .site-main.alignleft,
	.archive .single .site-main.alignleft,
	.archive.author .single .site-main.alignleft,
	.archive.tag .single .site-main.alignleft,
	.archive.category .single .site-main.alignleft,
	.search.search-results .single .site-main.alignleft,
	.search.search-no-results .single .site-main.alignleft,
	.single .single .site-main.alignleft,
	.single-post .single .site-main.alignleft,
	.page-template-default .single .site-main.alignleft {
		padding-right: 45px;
		padding-left: 0;
	}

	.page-template-default.page .comments-area {
		margin-right: 0;
		margin-left: auto;
	}

	.carousel li {
		margin-left: 5px;
		margin-right: auto;
	}

	.flex-direction-nav .flex-prev {
		right: -50px;
		left: auto;
	}

	.flex-direction-nav .flex-next {
		left: -50px;
		text-align: left;
		right: auto;
	}

	.flexslider:hover .flex-direction-nav .flex-prev {
		right: 10px;
		left: auto;
	}

	.flexslider:hover .flex-direction-nav .flex-next {
		left: 10px;
		right: auto;
	}

	.flex-pauseplay a {
		right: 10px;
		left: auto;
	}

	.flex-control-thumbs li {
		float: right;
	}

	/* ====================================================================================================================
	 * RESPONSIVE
	 * ====================================================================================================================*/
	@media screen and (max-width: 860px) {

		.flex-pauseplay a {
			right: 10px;
			left: auto;
		}

		.flex-control-thumbs li {
			float: right;
		}

	}
}

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
/* display none until init */
.owl-carousel .owl-item {
	float: right;
}

/* mouse grab icon */
/* fix */
/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/
/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
/* If PaginationNumbers is true */
/* preloading images */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap {
	right: 0;
	left: auto;
}

#fancybox-loading {
	right: 50%;
	margin-right: -22px;
	left: auto;
	margin-left: auto;
}

.fancybox-close {
	left: -18px;
	right: auto;
}

.fancybox-prev {
	right: 0;
	left: auto;
}

.fancybox-next {
	left: 0;
	right: auto;
}

.fancybox-prev span {
	right: 10px;
	left: auto;
}

.fancybox-next span {
	left: 10px;
	right: auto;
}

.fancybox-tmp {
	right: -99999px;
	left: auto;
}

/* Overlay helper */
.fancybox-overlay {
	right: 0;
	left: auto;
}

.fancybox-overlay-fixed {
	left: 0;
	right: auto;
}

/* Title helper */
.fancybox-title-float-wrap {
	left: 50%;
	right: auto;
}

.fancybox-title-float-wrap .child {
	margin-left: -100%;
	margin-right: auto;
}

.fancybox-title-over-wrap {
	right: 0;
	left: auto;
}

/**************shortcodes*********/
/* Alignment */
.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

.wp-caption-text {
	padding-left: 10px;
	padding-right: 0;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.bypostauthor > article .fn:before {
	margin: 0 -2px 0 2px;
}

/* #Lists
================================================== */
ol {
	margin-right: 15px;
	margin-left: auto;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 4px 30px 5px 0;
}

/*#table*/
caption,
th,
td {
	text-align: right;
}

/**
 * 6.5 Gallery
 * -----------------------------------------------------------------------------
 */
.gallery-item {
	float: right;
	margin: 0 0 4px 4px;
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-left: 0;
	margin-right: auto;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: right;
}

.gallery-caption {
	right: 0;
	text-align: right;
	left: auto;
}

.gallery-caption:before {
	right: 0;
	left: auto;
}

.custom-gallery .wpb_gallery_slides > ul {
	right: -10px !important;
	left: auto;
}

.custom-gallery .wpb_gallery_slides > ul > li {
	margin: 0 10px 10px 0;
}

.testimonials .owl-controls .owl-pagination {
	text-align: right;
	padding-right: 30px;
	padding-left: 0;
}

.wrapper-gallery-filter .fancybox:after {
	right: 50%;
	margin-right: -20px;
	left: auto;
	margin-left: auto;
}

.wpcf7 .contact-us .pad-left {
	padding-right: 15px;
	padding-left: 0;
}

.wpcf7 .contact-us .pad-right {
	padding-right: 0;
	padding-left: 15px;
}

.tp-kbimg-wrap {
	transform: translateX(0) !important;
}

.icon-box-top, .icon-box-top-2 {
	text-align: right !important;
}


.vc_tta-tabs-container .vc_tta-tabs-list {
	text-align: right;
}

.heading {
	text-align: right !important;
}

@media (max-width: 767px){
	#wrapper-container .mobile-menu-container {
		transform: translate(270px);
	}
	#wrapper-container.wrapper-container.mobile-menu-open .mobile-menu-container{
		transform: translate(0px);
	}
	#wrapper-container.wrapper-container.mobile-menu-open .content-pusher{
		transform: translate(-270px);
	}
}
#masthead .header-right .top-header{
	padding-left:0;
	padding-right: 18px;
}

#masthead .wrapper-logo .sm-logo-affix a img{
	right: 0;
}